In [275]:
import numpy as np
import pandas as pd
import seaborn as sns
import math
import matplotlib.pyplot as plt
import itertools
from collections import Counter

In [276]:
data = pd.read_csv('movie_bd_v5.xls')

In [277]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [278]:
answers = {} # создадим словарь для ответов

def profit(revenue, budget):
    #Рассчитывает прибыль как разность сборов и бюджета фильма
    return(revenue-budget)

def split_counter (df,col):
    #Рассчитывает количество входов подстрок, разделенных и преобразованных в список, в датафрейм
    #Возвращает словарь вида {подстрока: число входов подстроки в датафрейм}
    dict_inner=dict()
    for i in range(len(df)):
        for j in range(len(df[col].iloc[i])):
            a = dict_inner.get(df[col].iloc[i][j], 0)
            dict_inner[df[col].iloc[i][j]]=a+1
    return(dict_inner)

data['profits']=profit(data.revenue,data.budget) #добавляем колонку с подсчитанной прибылью в датасет
data['genres_divided']=data.genres.str.split("|")
data['cast_divided']=data.cast.str.split("|")
data['director_divided']=data.director.str.split("|")
data['comp_divided']=data.production_companies.str.split("|")
data['release_month']=data.release_date.str.split("/").str[0]


data['overview_length']=data.overview.str.split(' ')
data['overview_length']=data['overview_length'].str.len()
data['title_length']=data.original_title.str.len()
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profits,genres_divided,cast_divided,director_divided,comp_divided,release_month,overview_length,title_length
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,...,6.5,2015,1363528810,"[Action, Adventure, Science Fiction, Thriller]","[Chris Pratt, Bryce Dallas Howard, Irrfan Khan...",[Colin Trevorrow],"[Universal Studios, Amblin Entertainment, Lege...",6,26,14
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,...,7.1,2015,228436354,"[Action, Adventure, Science Fiction, Thriller]","[Tom Hardy, Charlize Theron, Hugh Keays-Byrne,...",[George Miller],"[Village Roadshow Pictures, Kennedy Miller Pro...",5,110,18
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,...,6.3,2015,185238201,"[Adventure, Science Fiction, Thriller]","[Shailene Woodley, Theo James, Kate Winslet, A...",[Robert Schwentke],"[Summit Entertainment, Mandeville Films, Red W...",3,22,9
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,...,7.5,2015,1868178225,"[Action, Adventure, Science Fiction, Fantasy]","[Harrison Ford, Mark Hamill, Carrie Fisher, Ad...",[J.J. Abrams],"[Lucasfilm, Truenorth Productions, Bad Robot]",12,26,28
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,...,7.3,2015,1316249360,"[Action, Crime, Thriller]","[Vin Diesel, Paul Walker, Jason Statham, Miche...",[James Wan],"[Universal Pictures, Original Film, Media Righ...",4,14,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,...,6.6,2000,82299717,"[Adventure, Action, Science Fiction]","[Patrick Stewart, Hugh Jackman, Ian McKellen, ...",[Bryan Singer],"[Twentieth Century Fox Film Corporation, Donne...",7,27,5
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,...,6.4,2000,-8444012,"[Horror, Family, Foreign]","[Richard E. Grant, Jonathan Lipnicki, Jim Cart...",[Uli Edel],[New Line Cinema],10,75,18
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,...,4.0,2000,-40865180,"[Adventure, Animation, Action, Comedy, Family]","[Rene Russo, Jason Alexander, Piper Perabo, Ra...",[Des McAnuff],"[Universal Pictures, Capella International, KC...",6,58,36
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,...,5.2,2000,-3962091,"[Comedy, Drama]","[Meg Ryan, Diane Keaton, Lisa Kudrow, Walter M...",[Diane Keaton],"[Laurence Mark Productions, Columbia Pictures ...",2,24,10
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,...,5.2,2000,-9782502,[Thriller],"[Susan Ward, Lori Heuring, Matthew Settle, Nat...",[Mary Lambert],[Warner Bros. Pictures],7,43,12

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [279]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
# если ответили верно, можете добавить комментарий со значком "+"

In [280]:
answer_1 = data[data.budget == data.budget.max()]
print(answer_1.original_title.iloc[0], '('+answer_1.imdb_id.iloc[0]+')')

Pirates of the Caribbean: On Stranger Tides (tt1298650)

# 2. Какой из фильмов самый длительный (в минутах)?

In [281]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)' #+

In [282]:
answer_2 = data[data.runtime == data.runtime.max()]
print(answer_2.original_title.iloc[0], '('+answer_2.imdb_id.iloc[0]+')')

Gods and Generals (tt0279111)

# 3. Какой из фильмов самый короткий (в минутах)?

In [283]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+

In [284]:
answer_3 = data[data.runtime == data.runtime.min()]
print(answer_3.original_title.iloc[0], '('+answer_3.imdb_id.iloc[0]+')')

Winnie the Pooh (tt1449283)

# 4. Какова средняя длительность фильмов?

In [285]:
answers['4'] = '110' #+

In [286]:
answer_4 = round(data.runtime.mean())
print(answer_4)

110

# 5. Каково медианное значение длительности фильмов?

In [287]:
answers['5'] = '107' #+

In [288]:
answer_5 = round(data.runtime.median())
print(answer_5)

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [289]:
answers['6'] = 'Avatar (tt0499549)' #+

In [290]:
answer_6=data[data.profits == data.profits.max()]
print(answer_6.original_title.iloc[0], '('+answer_6.imdb_id.iloc[0]+')')

Avatar (tt0499549)

# 7. Какой фильм самый убыточный?

In [291]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+

In [292]:
answer_7=data[data.profits == data.profits.min()]
print(answer_7.original_title.iloc[0], '('+answer_7.imdb_id.iloc[0]+')')

The Lone Ranger (tt1210819)

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [293]:
answers['8'] = '1478' #+

In [294]:
answer_8=len(data[data.profits > 0])
print(answer_8)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [295]:
answers['9'] = 'The Dark Knight (tt0468569)' #+

In [296]:
subanswer=data[data.release_date.str.contains('2008')]
answer_9=subanswer[subanswer.profits == subanswer.profits.max()]
print(answer_9.original_title.iloc[0], '('+answer_9.imdb_id.iloc[0]+')')

The Dark Knight (tt0468569)

In [297]:
# Вариант 2 (поскольку я заметил, что в датасете есть столбец  release_year)
subanswer=data[data.release_year == 2008]
answer_9=subanswer[subanswer.profits == subanswer.profits.max()]
print(answer_9.original_title.iloc[0], '('+answer_9.imdb_id.iloc[0]+')')

The Dark Knight (tt0468569)

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [298]:
answers['10'] = 'The Lone Ranger (tt1210819)' #+

In [299]:
subanswer=data[(data.release_year >=2012)&(data.release_year <=2014)]
answer_10=subanswer[subanswer.profits == subanswer.profits.min()]
print(answer_10.original_title.iloc[0], '('+answer_10.imdb_id.iloc[0]+')')

The Lone Ranger (tt1210819)

# 11. Какого жанра фильмов больше всего?

In [300]:
answers['11'] = 'Drama' #+

In [301]:
answer_11=data.genres #Если считаем, что составные жанры являются самостоятельными-не являются
answer_11_1=data.genres.value_counts().index[0]
print(answer_11_1)

Comedy

ВАРИАНТ 2

In [302]:
#если составные жанры не являются самостоятельными, то требуется разбить их
dict_genres=split_counter(data,'genres_divided')
for genre in dict_genres.keys():
    if dict_genres[genre] == max(dict_genres.values()):
        answer_11_2=genre
print(answer_11_2)

Drama

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [303]:
answers['12'] = 'Drama'#+

In [304]:
data_12=data[data.profits > 0]
dict_genre=split_counter(data_12,'genres_divided')
for genre in dict_genre.keys():
    if dict_genre[genre] == max(dict_genre.values()):
        answer_12=genre
print(answer_12)

Drama

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [305]:
answers['13'] = 'Peter Jackson'#+

In [306]:
answer_13=data.groupby(['director']).revenue.sum().sort_values(ascending=False).index[0]
print(answer_13)

Peter Jackson

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [307]:
answers['14'] = 'Robert Rodriguez'#+, изначально на 2 попытках -, не вспомнил, что есть фильмы с несколькими режиссерами

In [308]:
data_14=data[data.genres.str.contains('Action')]
director_dict=split_counter(data_14,'director_divided')
for elem in director_dict.keys():
    if director_dict[elem] == max(director_dict.values()):
        answer_14=elem
print(answer_14)

Robert Rodriguez

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [309]:
answers['15'] = 'Chris Hemsworth'#+

In [310]:
data_15=data[data.release_year == 2012]
data_15_2=data_15[data_15.profits == data_15.profits.max()]
data_15_2.cast.iloc[0]
answer_15=data_15_2.cast.iloc[0].split("|")[3]
print(answer_15)

Chris Hemsworth

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [311]:
answers['16'] = 'Matt Damon'#+

In [312]:
data_16=data[data.budget > data.budget.mean()]
dict_cast=dict()
dict_cast=split_counter(data_16,'cast_divided')
for cast in dict_cast.keys():
    if dict_cast[cast] == max(dict_cast.values()):
        answer_16=cast
print(answer_16)

Matt Damon

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [313]:
answers['17'] = 'Action'#+

In [314]:
data_17=data[data.cast.str.contains('Nicolas Cage')]
dict_genres_17=split_counter(data_17,'genres_divided')
for genre in dict_genres_17.keys():
    if dict_genres_17[genre] == max(dict_genres_17.values()):
        answer_17=genre
print(answer_17)

Action

# 18. Самый убыточный фильм от Paramount Pictures

In [315]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'#+

In [316]:
data_18=data[data.production_companies.str.contains('Paramount Pictures')]
data_18_2=data_18[data_18.profits == data_18.profits.min()]
answer_18 = data_18_2
print(answer_18.original_title.iloc[0], '('+answer_18.imdb_id.iloc[0]+')')

K-19: The Widowmaker (tt0267626)

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [317]:
answers['19'] = '2015'#+

In [318]:
answer_19=data.groupby(['release_year']).revenue.sum().sort_values(ascending=False).index[0]
print(answer_19)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [319]:
answers['20'] = '2014'#+

In [320]:
data_20=data[data.production_companies.str.contains('Warner Bros')]
data_20_2=data_20.groupby(['release_year']).profits.sum().sort_values(ascending=False)
answer_20=data_20_2.index[0]
print(answer_20)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [321]:
answers['21'] = '9'#+

In [322]:
data_21=data.groupby(['release_month'])['original_title'].nunique().sort_values(ascending=False)
answer_21=data_21.index[0]
print(answer_21)

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [323]:
answers['22'] = '450'#+

In [324]:
answer_22=data_21.loc['6']+data_21.loc['7']+data_21.loc['8']
print(answer_22)

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [325]:
answers['23'] = 'Peter Jackson'#+

In [326]:
data_23=data[data.release_month.isin(['1','2','12'])]
director_dict=split_counter(data_23,'director_divided')
for director in director_dict.keys():
    if director_dict[director] == max(director_dict.values()):
        answer_23=director
print(answer_23)

Peter Jackson

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [327]:
answers['24'] = 'Four By Two Productions'#+

In [328]:
data_24=data
data_24_2=data_24.sort_values('title_length',ascending=False)
display(data_24_2.head(5))

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,...,vote_average,release_year,profits,genres_divided,cast_divided,director_divided,comp_divided,release_month,overview_length,title_length
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,...,6.4,2006,243572744,[Comedy],"[Sacha Baron Cohen, Ken Davitian, Luenell, Pam...",[Larry Charles],"[Twentieth Century Fox Film Corporation, Four ...",11,42,83
1314,tt0363771,180000000,748806957,"The Chronicles of Narnia: The Lion, the Witch ...",William Moseley|Anna Popplewell|Skandar Keynes...,Andrew Adamson,Evil Has Reigned For 100 Years...,"Siblings Lucy, Edmund, Susan and Peter step th...",143,Adventure|Family|Fantasy,...,6.5,2005,568806957,"[Adventure, Family, Fantasy]","[William Moseley, Anna Popplewell, Skandar Key...",[Andrew Adamson],"[Walt Disney, Walden Media]",12,65,62
219,tt1698641,28000000,100654149,"Alexander and the Terrible, Horrible, No Good,...",Steve Carell|Jennifer Garner|Ed Oxenbould|Dyla...,Miguel Arteta,One day can change everything.,Alexander's day begins with gum stuck in his h...,81,Family|Comedy,...,6.2,2014,72654149,"[Family, Comedy]","[Steve Carell, Jennifer Garner, Ed Oxenbould, ...",[Miguel Arteta],"[Walt Disney Pictures, 21 Laps Entertainment, ...",10,52,59
1751,tt0443680,30000000,14711793,The Assassination of Jesse James by the Coward...,Brad Pitt|Casey Affleck|Sam Shepard|Mary-Louis...,Andrew Dominik,Beyond the myth lies America's greatest betrayal,Outlaw Jesse James is rumored be the 'fastest ...,160,Action|Drama|Western,...,6.9,2007,-15288207,"[Action, Drama, Western]","[Brad Pitt, Casey Affleck, Sam Shepard, Mary-L...",[Andrew Dominik],"[Plan B Entertainment, Virtual Studios, Scott ...",9,50,58
385,tt0980970,155000000,415686217,The Chronicles of Narnia: The Voyage of the Da...,Skandar Keynes|Georgie Henley|Simon Pegg|Gary ...,Michael Apted,Return to magic. Return to hope. Return to Nar...,"This time around Edmund and Lucy Pevensie, alo...",113,Adventure|Family|Fantasy,...,6.0,2010,260686217,"[Adventure, Family, Fantasy]","[Skandar Keynes, Georgie Henley, Simon Pegg, G...",[Michael Apted],"[Dune Entertainment, Fox 2000 Pictures, Walden...",8,35,56

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [329]:
answers['25'] = 'Midnight Picture Show'#+

In [330]:
comp_dict=dict()
for i in range(len(data)):
        for j in range(len(data['comp_divided'].iloc[i])):
            a = comp_dict.get(data['comp_divided'].iloc[i][j], [0,0])
            comp_dict[data['comp_divided'].iloc[i][j]]=[(a[0]+data.overview_length.iloc[i]),(a[1]+1)]
for elem in comp_dict.keys():
    a = comp_dict.get(elem)
    comp_dict[elem]=a[0]/a[1]
    
for elem in comp_dict.keys():
    if comp_dict[elem] == max(comp_dict.values()):
        answer_25=elem
print(answer_25)

Midnight Picture Show

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [331]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'#+

In [332]:
answer_26=data.sort_values('vote_average',ascending=False)
display(answer_26['original_title'].head(math.floor(len(data)/100)))
math.floor(len(data)/100)

599                                   The Dark Knight
118                                      Interstellar
125                                The Imitation Game
9                                          Inside Out
34                                               Room
1183                          The Wolf of Wall Street
128                                         Gone Girl
1191                                 12 Years a Slave
119                           Guardians of the Galaxy
1081    The Lord of the Rings: The Return of the King
1800                                          Memento
370                                         Inception
872                                       The Pianist
138                          The Grand Budapest Hotel
1188                                              Her
28                                          Spotlight
124                                        Big Hero 6
177                            The Fault in Our Stars
Name: original_title, dtype: object

18

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [ ]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'#+

In [374]:
answer_27=list()
cast_dict=dict()
for i in range(len(data)):
        for j in itertools.combinations(data.cast_divided.iloc[i],2):
            a = cast_dict.get(j, 0)
            cast_dict[j]=a+1
for elem in cast_dict.keys():
    if cast_dict[elem] == max(cast_dict.values()):
        answer_27.append(elem)
print(answer_27)

[('Daniel Radcliffe', 'Rupert Grint'), ('Daniel Radcliffe', 'Emma Watson')]

# Submission

In [334]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave'}

In [335]:
# и убедиться что ничего не пропустил)
len(answers)

26