In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures
import re
import math

In [4]:
df= pd.read_csv('main_task.xls')

In [5]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963
...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838
39999,id_4824,Milan,['Spanish'],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        26114 non-null  object
 6   Number of Reviews  37457 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
dtypes: float64(3), object(7)
memory usage: 3.1+ MB

Очистка и разбивка данных

In [7]:
drop_list = ['Restaurant_id','City','Cuisine Style','Price Range','Reviews','URL_TA','ID_TA']
df_prep = df.drop(drop_list, axis = 1)

In [8]:
df_prep

       Ranking  Rating  Number of Reviews
0       5570.0     3.5              194.0
1       1537.0     4.0               10.0
2        353.0     4.5              688.0
3       3458.0     5.0                3.0
4        621.0     4.0               84.0
...        ...     ...                ...
39995    500.0     4.5               79.0
39996   6341.0     3.5              542.0
39997   1652.0     4.5                4.0
39998    641.0     4.0               70.0
39999   4827.0     3.0              260.0

[40000 rows x 3 columns]

In [9]:
NoR_median_val = round(df_prep['Number of Reviews'].median())
df_prep.fillna({'Number of Reviews':NoR_median_val},inplace=True)

In [10]:
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ranking            40000 non-null  float64
 1   Rating             40000 non-null  float64
 2   Number of Reviews  40000 non-null  float64
dtypes: float64(3)
memory usage: 937.6 KB

In [11]:
df_prep['Number of Reviews'].value_counts()

33.0      2801
2.0       1916
3.0       1636
4.0       1370
5.0       1181
          ...
2141.0       1
920.0        1
1404.0       1
979.0        1
1741.0       1
Name: Number of Reviews, Length: 1459, dtype: int64

In [12]:
# Х - данные с информацией о ресторанах, у - целевая переменная (рейтинги ресторанов)
X = df_prep.drop('Rating', axis = 1)
y = df_prep['Rating']

In [13]:
# Загружаем специальный инструмент для разбивки:
from sklearn.model_selection import train_test_split

In [14]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.
# Для тестирования мы будем использовать 25% от исходного датасета.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [15]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [16]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [17]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.43419748683677434

In [18]:
df['Price Range'].value_counts()

$$ - $$$    18412
$            6279
$$$$         1423
Name: Price Range, dtype: int64

In [19]:
df['City'].value_counts()
df['City'].nunique()

31

In [20]:
df['Cuisine Style'].value_counts()

['Italian']                                                                                       1032
['French']                                                                                         805
['Spanish']                                                                                        695
['French', 'European']                                                                             405
['Cafe']                                                                                           403
                                                                                                  ...
['Brazilian', 'South American', 'Vegetarian Friendly', 'Vegan Options', 'Gluten Free Options']       1
['American', 'European', 'Hungarian', 'Vegetarian Friendly']                                         1
['Italian', 'Bar', 'Mediterranean', 'European', 'Wine Bar', 'Brew Pub', 'Vegetarian Friendly']       1
['French', 'Cafe', 'European', 'Bar', 'Pub', 'Vegetarian Friendly']                                  1
['Bar', 'Pub', 'International', 'European', 'British']                                               1
Name: Cuisine Style, Length: 9007, dtype: int64

In [21]:
re.split('\W{2,4}', "['Sushi', 'Asian', 'Vietnamese', 'Seafood', 'Vegetarian Friendly']")

['', 'Sushi', 'Asian', 'Vietnamese', 'Seafood', 'Vegetarian Friendly', '']

In [22]:
cuisine_list = list()
cuisine_set = set()
for row in df['Cuisine Style']:
    if row == row:
        row_split = re.split('\W{4}', row[2:-2])
        cuisine_list.append(row_split)
        for name in row_split:
            cuisine_set.add(name)
    else:
        cuisine_list.append(['Vegetarian Friendly'])
cuisine_set

{'Afghani',
 'African',
 'Albanian',
 'American',
 'Arabic',
 'Argentinean',
 'Armenian',
 'Asian',
 'Australian',
 'Austrian',
 'Azerbaijani',
 'Balti',
 'Bangladeshi',
 'Bar',
 'Barbecue',
 'Belgian',
 'Brazilian',
 'Brew Pub',
 'British',
 'Burmese',
 'Cafe',
 'Cajun & Creole',
 'Cambodian',
 'Canadian',
 'Caribbean',
 'Caucasian',
 'Central American',
 'Central Asian',
 'Central European',
 'Chilean',
 'Chinese',
 'Colombian',
 'Contemporary',
 'Croatian',
 'Cuban',
 'Czech',
 'Danish',
 'Delicatessen',
 'Diner',
 'Dutch',
 'Eastern European',
 'Ecuadorean',
 'Egyptian',
 'Ethiopian',
 'European',
 'Fast Food',
 'Filipino',
 'French',
 'Fujian',
 'Fusion',
 'Gastropub',
 'Georgian',
 'German',
 'Gluten Free Options',
 'Greek',
 'Grill',
 'Halal',
 'Hawaiian',
 'Healthy',
 'Hungarian',
 'Indian',
 'Indonesian',
 'International',
 'Irish',
 'Israeli',
 'Italian',
 'Jamaican',
 'Japanese',
 'Korean',
 'Kosher',
 'Latin',
 'Latvian',
 'Lebanese',
 'Malaysian',
 'Mediterranean',
 'Mexican',
 'Middle Eastern',
 'Minority Chinese',
 'Mongolian',
 'Moroccan',
 'Native American',
 'Nepali',
 'New Zealand',
 'Norwegian',
 'Pakistani',
 'Persian',
 'Peruvian',
 'Pizza',
 'Polish',
 'Polynesian',
 'Portuguese',
 'Pub',
 'Romanian',
 'Russian',
 'Salvadoran',
 'Scandinavian',
 'Scottish',
 'Seafood',
 'Singaporean',
 'Slovenian',
 'Soups',
 'South American',
 'Southwestern',
 'Spanish',
 'Sri Lankan',
 'Steakhouse',
 'Street Food',
 'Sushi',
 'Swedish',
 'Swiss',
 'Taiwanese',
 'Thai',
 'Tibetan',
 'Tunisian',
 'Turkish',
 'Ukrainian',
 'Uzbek',
 'Vegan Options',
 'Vegetarian Friendly',
 'Venezuelan',
 'Vietnamese',
 'Welsh',
 'Wine Bar',
 'Xinjiang',
 'Yunnan'}

In [23]:
len(cuisine_set)

125

In [24]:
df['cuisine_divided'] = cuisine_list

In [25]:
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cuisine_divided
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,"[European, French, International]"
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,[Vegetarian Friendly]
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri..."
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,[Vegetarian Friendly]
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,"[German, Central European, Vegetarian Friendly]"
...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,"[Italian, Vegetarian Friendly, Vegan Options, ..."
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,"[French, American, Bar, European, Vegetarian F..."
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,"[Japanese, Sushi]"
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,"[Polish, European, Eastern European, Central E..."
39999,id_4824,Milan,['Spanish'],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,[Spanish]

In [26]:
cuisine_pop_dict = dict.fromkeys(cuisine_set,0)
for row in df['cuisine_divided']:
    if row != None:
        for element in row:
            cuisine_pop_dict[element] =cuisine_pop_dict[element]+1
cuisine_pop_dict

{'Cafe': 2325,
 'Israeli': 74,
 'International': 1584,
 'Romanian': 10,
 'Tibetan': 24,
 'Spanish': 2798,
 'Caribbean': 93,
 'Nepali': 83,
 'Middle Eastern': 782,
 'Peruvian': 94,
 'Fujian': 2,
 'American': 1315,
 'Pizza': 2849,
 'New Zealand': 6,
 'European': 10060,
 'Chinese': 1145,
 'Latvian': 1,
 'Cajun & Creole': 20,
 'Bangladeshi': 76,
 'Brazilian': 127,
 'Steakhouse': 573,
 'Grill': 490,
 'Swedish': 171,
 'Georgian': 17,
 'Dutch': 294,
 'Eastern European': 496,
 'Halal': 598,
 'Fusion': 577,
 'Lebanese': 329,
 'Filipino': 12,
 'Australian': 24,
 'Xinjiang': 1,
 'Welsh': 2,
 'Ukrainian': 18,
 'Gastropub': 471,
 'Mexican': 445,
 'Afghani': 22,
 'Belgian': 270,
 'Balti': 83,
 'Venezuelan': 40,
 'Healthy': 620,
 'Armenian': 14,
 'Vietnamese': 513,
 'Brew Pub': 225,
 'Burmese': 1,
 'Central Asian': 12,
 'Bar': 3297,
 'Cuban': 23,
 'Ecuadorean': 4,
 'Seafood': 1505,
 'Polynesian': 2,
 'Russian': 58,
 'Kosher': 48,
 'Norwegian': 75,
 'Fast Food': 1705,
 'Uzbek': 5,
 'Slovenian': 68,
 'Vegetarian Friendly': 20472,
 'Egyptian': 20,
 'Mediterranean': 6277,
 'Hawaiian': 21,
 'Mongolian': 14,
 'Czech': 595,
 'Portuguese': 1107,
 'Azerbaijani': 2,
 'African': 154,
 'Gluten Free Options': 4113,
 'Contemporary': 523,
 'Sri Lankan': 25,
 'Argentinean': 169,
 'Tunisian': 21,
 'Albanian': 8,
 'Moroccan': 141,
 'Jamaican': 25,
 'Asian': 3011,
 'Thai': 743,
 'Austrian': 380,
 'Street Food': 263,
 'Danish': 177,
 'Yunnan': 1,
 'Swiss': 178,
 'Diner': 295,
 'Vegan Options': 4486,
 'Minority Chinese': 11,
 'Persian': 53,
 'Singaporean': 19,
 'Scandinavian': 342,
 'German': 662,
 'Barbecue': 555,
 'Indonesian': 59,
 'Salvadoran': 1,
 'Canadian': 5,
 'Pakistani': 123,
 'South American': 372,
 'Latin': 302,
 'Ethiopian': 42,
 'Cambodian': 20,
 'Japanese': 1464,
 'Pub': 2449,
 'Wine Bar': 697,
 'Sushi': 1156,
 'Greek': 604,
 'Croatian': 27,
 'Central American': 135,
 'Southwestern': 17,
 'Native American': 4,
 'Indian': 1041,
 'Italian': 5964,
 'Central European': 1393,
 'Turkish': 444,
 'Scottish': 163,
 'Irish': 284,
 'Colombian': 20,
 'Hungarian': 352,
 'British': 1595,
 'Korean': 167,
 'Arabic': 51,
 'Malaysian': 31,
 'Taiwanese': 22,
 'Delicatessen': 392,
 'Caucasian': 4,
 'Soups': 494,
 'French': 3190,
 'Chilean': 8,
 'Polish': 365}

In [27]:
import operator
max(cuisine_pop_dict.items(), key=operator.itemgetter(1))[0]

'Vegetarian Friendly'

In [28]:
cuisine_num = list()
for row in df['cuisine_divided']:
    if row != None:
        cuisine_num.append(len(row))
    else:
        cuisine_num.append(1)

In [29]:
df['cuisine_mean']=cuisine_num

df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cuisine_divided,cuisine_mean
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,$$ - $$$,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,"[European, French, International]",3
1,id_1535,Stockholm,NaN,1537.0,4.0,NaN,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,[Vegetarian Friendly],1
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,$$$$,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",7
3,id_3456,Berlin,NaN,3458.0,5.0,NaN,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,[Vegetarian Friendly],1
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,$$ - $$$,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,"[German, Central European, Vegetarian Friendly]",3
...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,$$ - $$$,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,"[Italian, Vegetarian Friendly, Vegan Options, ...",4
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,$$ - $$$,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,"[French, American, Bar, European, Vegetarian F...",5
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,NaN,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,"[Japanese, Sushi]",2
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,$$ - $$$,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,"[Polish, European, Eastern European, Central E...",5
39999,id_4824,Milan,['Spanish'],4827.0,3.0,$$ - $$$,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,[Spanish],1

In [30]:
df['cuisine_mean'].mean()

2.6224

In [31]:
df['Price Range'].fillna('$$ - $$$',inplace= True)

In [32]:
price_dict = dict()
price_dict['$']=1
price_dict['$$ - $$$']=2.5
price_dict['$$$$']=4

def price(row):
    return price_dict[row]
df['Price Range'] = df['Price Range'].apply(price)
display(df)

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cuisine_divided,cuisine_mean
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,2.5,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,"[European, French, International]",3
1,id_1535,Stockholm,NaN,1537.0,4.0,2.5,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,[Vegetarian Friendly],1
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,4.0,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",7
3,id_3456,Berlin,NaN,3458.0,5.0,2.5,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,[Vegetarian Friendly],1
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,2.5,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,"[German, Central European, Vegetarian Friendly]",3
...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,2.5,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,"[Italian, Vegetarian Friendly, Vegan Options, ...",4
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,2.5,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,"[French, American, Bar, European, Vegetarian F...",5
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,2.5,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,"[Japanese, Sushi]",2
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,2.5,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,"[Polish, European, Eastern European, Central E...",5
39999,id_4824,Milan,['Spanish'],4827.0,3.0,2.5,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,[Spanish],1

In [33]:
revtime_list = list()
for row in df['Reviews']:
    if row == row:
        date = re.findall("\d{2}/\d{2}/\d{4}", row)
        revtime_list.append(date)
    else:
        revtime_list.append([[],[]])

In [34]:
revtime_list[3] !=[]

False

In [35]:
revtime_list_1 = list()
revtime_list_2 = list()
for element in revtime_list:
    if element != []:
        revtime_list_1.append(element[0])
        if len(element)<2:
            revtime_list_2.append(element[0])
        else:
            revtime_list_2.append(element[1])
    else:
        revtime_list_1.append(None)
        revtime_list_2.append(None)

In [36]:
df['rev_date_1']=revtime_list_1
df['rev_date_2']=revtime_list_2
revtime_list_1

['12/31/2017',
 '07/06/2017',
 '01/08/2018',
 None,
 '11/18/2017',
 '09/16/2017',
 '08/04/2017',
 '02/16/2014',
 None,
 '11/07/2017',
 None,
 '12/15/2017',
 '01/07/2018',
 '07/25/2017',
 None,
 '12/01/2017',
 '04/12/2017',
 '02/28/2017',
 '08/16/2017',
 '04/12/2016',
 '12/12/2017',
 None,
 '08/05/2017',
 '12/01/2017',
 '08/06/2017',
 None,
 '07/05/2016',
 '01/26/2017',
 '08/20/2011',
 None,
 '08/03/2017',
 '09/01/2017',
 '10/26/2015',
 None,
 '01/27/2017',
 None,
 '04/05/2015',
 None,
 '03/08/2015',
 '05/12/2017',
 None,
 '10/18/2017',
 '10/07/2017',
 '02/14/2017',
 None,
 '07/19/2017',
 None,
 '02/15/2018',
 '06/05/2017',
 '12/18/2017',
 '01/06/2018',
 '12/08/2017',
 None,
 '11/26/2017',
 '01/05/2018',
 '03/19/2016',
 '11/10/2014',
 '04/13/2012',
 '05/28/2017',
 None,
 '12/21/2017',
 None,
 '08/31/2016',
 '01/07/2018',
 '01/09/2018',
 '09/30/2017',
 '12/10/2017',
 '10/29/2016',
 None,
 '07/19/2017',
 '08/27/2017',
 '12/09/2014',
 '01/08/2018',
 None,
 '11/04/2017',
 '04/25/2015',
 '12/03/2017',
 '10/02/2017',
 '09/04/2016',
 '01/08/2018',
 '06/28/2017',
 '11/02/2017',
 '10/10/2017',
 '02/07/2017',
 '11/15/2017',
 '08/11/2016',
 '10/18/2016',
 '12/09/2017',
 '01/08/2018',
 '05/06/2017',
 '10/14/2016',
 '02/02/2017',
 '09/22/2017',
 '10/10/2017',
 '10/11/2017',
 '01/04/2018',
 '12/16/2016',
 '03/22/2017',
 '11/10/2017',
 '12/28/2017',
 None,
 '11/03/2017',
 None,
 '12/04/2017',
 None,
 '05/23/2017',
 '02/09/2017',
 '01/13/2017',
 None,
 '04/19/2017',
 '06/03/2017',
 None,
 '01/08/2018',
 '11/23/2016',
 '04/08/2017',
 None,
 '12/09/2016',
 '12/23/2017',
 None,
 '08/06/2017',
 '05/16/2017',
 None,
 '12/12/2017',
 '12/30/2017',
 '11/28/2017',
 '01/04/2017',
 '12/28/2017',
 None,
 '01/06/2018',
 None,
 '10/12/2017',
 '12/22/2015',
 '08/08/2017',
 '08/04/2014',
 '01/01/2018',
 '12/06/2017',
 '08/28/2017',
 '09/26/2017',
 None,
 '01/06/2018',
 '10/26/2016',
 '01/04/2016',
 '04/30/2017',
 None,
 '06/04/2017',
 '11/27/2017',
 '11/04/2017',
 None,
 '02/07/2018',
 '08/05/2017',
 '01/19/2017',
 '07/18/2017',
 None,
 '01/06/2018',
 '12/07/2017',
 None,
 '12/07/2017',
 '02/09/2018',
 '05/09/2015',
 '01/05/2018',
 '11/06/2017',
 None,
 '12/24/2017',
 '12/24/2017',
 None,
 '10/03/2017',
 '11/08/2017',
 None,
 '12/14/2017',
 '04/26/2017',
 '12/09/2017',
 '08/11/2017',
 '10/31/2017',
 '12/17/2017',
 None,
 None,
 '03/16/2013',
 '02/17/2017',
 '12/13/2017',
 '08/08/2017',
 '01/19/2017',
 '07/06/2017',
 '05/10/2017',
 '12/09/2011',
 '11/07/2017',
 '05/15/2016',
 '11/22/2015',
 '11/11/2017',
 '07/05/2017',
 None,
 '12/24/2017',
 '11/22/2017',
 '09/23/2016',
 '01/07/2018',
 '05/02/2017',
 '12/16/2017',
 '01/08/2018',
 '03/10/2017',
 '06/20/2017',
 None,
 '01/07/2018',
 '11/12/2017',
 None,
 None,
 '10/14/2017',
 '11/25/2017',
 '11/01/2017',
 '08/05/2017',
 '10/11/2017',
 None,
 '10/28/2017',
 '12/12/2017',
 '12/08/2017',
 '01/20/2017',
 '07/15/2017',
 '08/21/2017',
 None,
 None,
 '12/22/2017',
 '05/17/2017',
 '10/10/2017',
 None,
 '06/16/2017',
 None,
 '12/14/2017',
 None,
 None,
 '08/29/2017',
 None,
 '12/08/2017',
 None,
 '11/26/2017',
 '11/25/2017',
 '09/06/2017',
 '07/26/2017',
 '10/02/2013',
 '01/07/2018',
 '01/05/2018',
 '06/28/2017',
 '10/09/2017',
 '12/28/2016',
 '12/22/2016',
 '12/04/2017',
 '12/06/2017',
 '05/21/2017',
 '12/28/2017',
 '11/19/2013',
 '06/07/2017',
 '11/27/2017',
 None,
 '07/28/2017',
 '09/06/2017',
 '09/30/2017',
 '12/23/2017',
 '12/17/2017',
 '09/12/2016',
 '03/02/2015',
 '01/07/2018',
 '12/30/2017',
 '12/22/2015',
 None,
 '04/29/2016',
 '08/19/2017',
 '12/15/2017',
 '08/02/2017',
 '11/08/2015',
 '06/10/2017',
 '01/10/2018',
 '11/12/2017',
 '01/20/2015',
 '12/26/2016',
 '02/11/2017',
 '05/25/2016',
 '12/03/2017',
 '02/22/2017',
 '11/04/2015',
 '12/10/2017',
 None,
 '12/12/2016',
 '09/02/2017',
 '11/21/2017',
 '04/19/2015',
 '12/07/2017',
 '09/07/2017',
 '12/29/2017',
 '09/11/2016',
 '12/15/2017',
 '12/01/2017',
 None,
 '12/23/2017',
 '08/23/2017',
 '08/07/2017',
 '03/11/2017',
 '11/18/2017',
 '10/17/2017',
 '12/28/2017',
 '06/12/2017',
 None,
 '12/18/2017',
 '10/04/2016',
 '12/24/2017',
 '11/18/2017',
 '11/23/2017',
 '12/07/2017',
 None,
 None,
 None,
 '11/08/2017',
 '10/07/2017',
 '12/22/2017',
 '12/25/2017',
 '10/09/2017',
 '12/29/2017',
 '12/10/2017',
 '05/11/2017',
 '04/13/2017',
 '12/19/2017',
 '06/16/2017',
 '11/24/2017',
 '01/22/2017',
 None,
 '01/23/2018',
 '11/22/2017',
 '12/17/2017',
 '10/28/2017',
 '07/23/2013',
 '01/17/2017',
 '11/18/2017',
 '12/05/2017',
 '04/12/2017',
 '07/07/2016',
 '11/30/2017',
 '01/04/2018',
 '07/26/2015',
 '09/24/2017',
 '01/06/2017',
 '10/10/2017',
 '08/22/2017',
 '09/01/2017',
 '12/16/2017',
 '12/31/2017',
 '10/18/2017',
 '11/13/2014',
 '02/05/2014',
 '01/06/2018',
 '01/17/2017',
 '03/26/2016',
 '02/16/2017',
 '05/01/2016',
 '12/28/2017',
 None,
 '06/18/2017',
 '01/10/2018',
 '09/21/2017',
 '06/23/2017',
 '01/07/2018',
 '07/19/2017',
 '10/22/2017',
 '08/22/2015',
 '06/07/2017',
 '03/27/2017',
 '11/15/2017',
 '11/06/2017',
 '10/12/2017',
 '12/17/2017',
 '11/27/2017',
 '01/01/2018',
 None,
 '04/02/2017',
 None,
 '04/08/2017',
 '01/01/2018',
 None,
 '01/18/2016',
 '05/08/2017',
 None,
 '07/15/2017',
 '07/19/2017',
 '11/27/2017',
 '06/15/2017',
 '12/16/2017',
 '04/22/2017',
 '07/19/2012',
 '07/19/2017',
 '02/02/2017',
 '06/30/2016',
 '12/06/2017',
 '07/15/2017',
 '09/28/2017',
 '11/13/2017',
 '02/17/2017',
 '12/26/2017',
 '07/06/2017',
 '10/23/2017',
 '02/02/2015',
 '03/21/2017',
 None,
 '01/08/2017',
 '10/06/2017',
 '01/06/2018',
 '03/29/2017',
 '10/23/2017',
 '01/02/2018',
 '08/21/2017',
 '08/20/2017',
 None,
 '09/23/2017',
 '11/03/2017',
 None,
 '01/01/2018',
 '10/22/2016',
 '01/03/2018',
 '06/13/2017',
 '04/23/2017',
 '07/14/2017',
 '12/23/2017',
 '12/14/2016',
 None,
 '01/06/2018',
 None,
 '01/03/2018',
 '12/27/2017',
 '10/02/2017',
 None,
 None,
 '12/05/2016',
 '12/22/2017',
 None,
 '09/12/2015',
 '04/03/2014',
 '01/10/2018',
 None,
 '01/05/2018',
 '12/02/2017',
 '06/10/2017',
 None,
 '10/18/2017',
 '10/30/2017',
 '06/30/2017',
 '05/28/2017',
 '01/15/2017',
 '06/17/2017',
 None,
 None,
 '07/04/2017',
 '01/07/2018',
 None,
 '12/23/2017',
 '03/08/2016',
 '12/24/2017',
 None,
 '12/26/2017',
 '11/12/2017',
 '01/08/2018',
 '10/22/2016',
 '07/23/2017',
 '12/05/2017',
 '05/13/2017',
 '06/10/2017',
 None,
 None,
 '12/19/2017',
 '10/05/2017',
 '01/05/2018',
 '11/14/2017',
 '07/06/2017',
 None,
 '12/22/2017',
 '12/22/2017',
 '08/01/2016',
 '08/13/2016',
 '10/23/2017',
 None,
 '03/10/2017',
 '12/13/2017',
 '11/06/2017',
 '07/12/2014',
 '06/11/2017',
 '01/06/2018',
 '11/05/2017',
 '10/22/2017',
 '07/30/2008',
 '11/02/2017',
 '10/24/2017',
 '01/01/2018',
 '11/21/2017',
 '01/03/2018',
 '02/27/2016',
 '12/22/2017',
 '10/21/2017',
 '11/01/2016',
 '12/07/2016',
 None,
 '01/07/2018',
 '07/12/2017',
 '11/13/2017',
 '11/29/2013',
 '09/08/2015',
 '01/09/2018',
 '03/20/2017',
 '10/03/2017',
 '06/29/2017',
 '03/24/2017',
 None,
 '12/05/2017',
 '09/23/2017',
 '06/27/2017',
 '12/19/2017',
 '03/12/2017',
 None,
 '01/11/2017',
 '10/09/2017',
 '07/26/2017',
 '07/27/2016',
 '07/29/2017',
 '10/26/2017',
 '01/01/2018',
 None,
 '05/18/2017',
 '12/05/2014',
 '01/14/2017',
 '01/02/2018',
 '01/08/2018',
 '12/07/2017',
 '10/08/2017',
 None,
 '10/25/2016',
 '01/07/2018',
 '11/28/2017',
 '12/31/2017',
 '07/27/2017',
 '03/17/2017',
 '08/19/2017',
 None,
 '11/14/2017',
 '02/10/2017',
 None,
 '11/07/2014',
 '03/10/2017',
 '11/26/2017',
 '02/25/2017',
 '01/05/2018',
 '01/08/2018',
 None,
 '11/08/2017',
 '12/29/2017',
 '01/08/2018',
 '03/17/2017',
 '10/03/2017',
 '10/17/2017',
 '11/11/2017',
 '12/26/2017',
 None,
 '06/21/2016',
 '01/08/2018',
 '09/25/2016',
 '07/29/2017',
 '01/09/2016',
 '08/29/2017',
 None,
 '05/20/2017',
 '01/09/2015',
 None,
 '02/17/2018',
 '09/25/2017',
 None,
 '07/23/2017',
 '09/10/2017',
 '10/18/2016',
 '07/22/2017',
 '02/17/2018',
 '01/09/2018',
 '11/08/2017',
 None,
 '11/28/2017',
 '12/10/2017',
 '11/09/2011',
 '04/25/2017',
 '01/05/2018',
 '09/04/2017',
 '06/02/2016',
 '06/02/2017',
 '12/27/2017',
 '06/14/2017',
 '02/09/2018',
 '01/01/2018',
 '05/18/2017',
 '01/01/2018',
 '09/29/2017',
 '06/13/2017',
 None,
 '04/29/2017',
 '12/23/2017',
 '12/28/2017',
 '09/18/2017',
 '05/15/2015',
 '09/14/2017',
 None,
 '09/10/2017',
 '01/09/2018',
 None,
 '10/05/2017',
 '09/04/2017',
 '10/13/2017',
 '01/18/2017',
 '09/09/2015',
 '02/03/2018',
 '02/17/2015',
 '08/17/2017',
 None,
 '10/16/2017',
 '08/30/2017',
 '01/22/2018',
 '07/30/2017',
 '12/21/2017',
 '11/25/2017',
 '11/24/2017',
 '06/06/2017',
 '11/26/2017',
 '12/10/2017',
 '08/13/2017',
 '12/25/2017',
 '12/21/2017',
 '08/17/2016',
 '08/17/2017',
 '02/13/2018',
 '12/12/2016',
 '01/07/2018',
 '06/23/2017',
 '01/08/2018',
 None,
 '02/04/2017',
 '12/28/2017',
 '11/08/2017',
 '03/07/2017',
 '07/30/2016',
 '10/20/2016',
 '12/24/2017',
 '09/10/2017',
 '11/28/2017',
 '10/02/2017',
 None,
 None,
 '08/14/2017',
 '08/18/2017',
 '07/20/2017',
 None,
 '12/02/2017',
 '09/06/2017',
 '12/01/2017',
 '11/13/2017',
 '12/27/2017',
 '01/01/2018',
 '10/30/2015',
 None,
 None,
 '04/30/2017',
 '01/24/2017',
 '09/18/2017',
 '10/14/2017',
 '09/27/2016',
 '11/12/2017',
 None,
 '01/10/2018',
 '10/25/2017',
 '06/18/2017',
 '05/15/2017',
 '12/16/2017',
 None,
 None,
 '12/27/2017',
 '10/17/2017',
 '08/05/2017',
 '01/02/2018',
 '05/20/2017',
 '07/29/2017',
 '10/16/2017',
 '10/19/2017',
 None,
 '10/11/2017',
 '10/05/2017',
 '03/27/2017',
 '10/15/2017',
 '02/18/2015',
 '03/25/2009',
 '06/20/2017',
 '08/10/2017',
 '09/07/2015',
 '01/19/2017',
 '07/29/2016',
 '03/20/2017',
 '10/30/2017',
 '06/04/2016',
 '12/23/2013',
 '01/30/2017',
 '08/20/2017',
 '11/28/2014',
 '01/08/2018',
 '10/08/2017',
 None,
 '11/04/2017',
 '09/20/2017',
 None,
 '10/27/2017',
 '01/09/2018',
 '10/08/2016',
 '10/21/2013',
 '01/04/2018',
 None,
 '01/07/2018',
 '03/23/2016',
 '11/10/2017',
 '03/14/2017',
 '09/05/2017',
 '06/29/2014',
 '01/02/2018',
 '09/14/2017',
 '12/02/2017',
 None,
 '12/19/2017',
 '01/07/2018',
 '08/25/2017',
 '10/19/2013',
 '01/06/2018',
 '11/03/2016',
 '05/13/2014',
 None,
 '05/20/2017',
 None,
 None,
 '09/16/2017',
 '11/02/2017',
 '02/03/2017',
 '11/12/2017',
 '07/11/2016',
 '01/07/2018',
 '10/24/2017',
 '07/18/2017',
 '05/04/2017',
 None,
 '10/16/2017',
 '05/24/2017',
 '07/08/2017',
 '05/09/2017',
 None,
 '09/05/2017',
 '07/21/2017',
 '08/11/2017',
 '08/12/2017',
 '08/03/2016',
 '02/19/2018',
 '02/08/2018',
 '01/08/2018',
 None,
 '12/10/2017',
 '09/05/2017',
 '06/21/2017',
 None,
 '07/12/2017',
 '06/20/2017',
 '03/24/2017',
 '05/25/2017',
 '03/15/2016',
 '09/03/2017',
 '11/03/2017',
 None,
 '10/18/2017',
 '03/29/2017',
 '11/20/2017',
 '03/01/2017',
 None,
 '11/22/2016',
 '01/03/2018',
 '01/07/2018',
 '05/25/2017',
 '03/14/2017',
 '08/24/2016',
 '10/29/2014',
 '12/04/2017',
 '11/05/2017',
 '11/17/2017',
 '09/21/2017',
 '06/30/2017',
 '02/11/2018',
 '10/25/2017',
 '04/03/2017',
 None,
 '11/14/2016',
 '12/18/2017',
 '08/20/2016',
 '10/04/2017',
 '11/06/2017',
 '03/12/2017',
 '07/19/2017',
 None,
 '12/25/2017',
 '10/15/2017',
 '01/09/2018',
 '08/14/2017',
 '12/12/2017',
 '12/21/2017',
 '06/17/2016',
 '07/06/2017',
 '12/31/2017',
 '12/16/2017',
 '11/15/2017',
 None,
 '06/20/2016',
 '03/13/2017',
 '10/13/2017',
 '05/03/2017',
 '10/15/2017',
 '12/11/2017',
 None,
 '07/16/2017',
 '12/28/2017',
 '04/29/2017',
 '02/02/2017',
 '07/18/2017',
 '12/31/2017',
 '03/11/2015',
 '12/12/2017',
 '02/14/2017',
 '08/08/2017',
 '10/16/2017',
 '06/13/2017',
 '11/16/2017',
 '07/21/2017',
 '11/20/2017',
 '06/17/2017',
 None,
 '06/21/2017',
 '10/27/2016',
 '01/09/2016',
 None,
 '10/26/2016',
 '05/08/2017',
 '11/13/2015',
 '11/27/2017',
 None,
 '12/11/2017',
 '01/02/2018',
 '01/07/2018',
 '03/13/2017',
 '12/30/2017',
 '06/02/2017',
 '10/21/2017',
 '01/28/2017',
 '12/03/2017',
 '11/23/2017',
 '11/26/2015',
 '04/24/2016',
 None,
 '07/21/2017',
 '10/17/2017',
 '01/02/2018',
 '12/11/2016',
 '07/08/2017',
 '10/24/2017',
 '09/21/2017',
 '01/09/2018',
 '01/23/2017',
 '11/07/2016',
 '01/26/2016',
 '11/19/2017',
 '07/24/2017',
 '01/04/2018',
 None,
 '05/15/2017',
 None,
 '10/05/2017',
 '01/06/2018',
 '12/30/2016',
 '08/02/2015',
 '08/15/2016',
 None,
 None,
 '12/18/2016',
 '10/13/2017',
 None,
 '12/03/2017',
 '07/14/2017',
 '10/03/2017',
 '10/21/2017',
 None,
 '11/22/2017',
 '01/05/2018',
 '12/13/2008',
 '04/28/2017',
 '09/01/2017',
 '05/28/2017',
 '01/08/2018',
 '01/09/2018',
 '12/09/2017',
 '12/04/2017',
 '11/13/2017',
 '09/13/2017',
 '11/14/2017',
 '04/17/2017',
 None,
 '01/04/2018',
 '12/30/2017',
 '12/04/2017',
 '10/16/2017',
 '07/20/2016',
 '04/06/2016',
 '09/02/2015',
 '10/13/2017',
 '07/11/2017',
 '11/01/2017',
 '08/12/2016',
 '07/26/2017',
 '08/02/2017',
 None,
 '07/21/2017',
 '11/26/2016',
 '03/27/2017',
 '12/08/2016',
 '08/25/2017',
 None,
 '08/06/2017',
 '07/28/2017',
 '08/26/2017',
 '05/04/2017',
 '09/07/2015',
 '09/01/2017',
 None,
 '05/09/2017',
 '01/06/2018',
 '08/01/2017',
 '12/14/2017',
 None,
 '10/23/2017',
 '09/06/2017',
 '11/24/2017',
 '02/20/2016',
 '11/26/2015',
 '09/05/2017',
 '12/27/2017',
 '11/02/2017',
 '01/07/2018',
 None,
 None,
 None,
 '02/24/2018',
 '12/27/2017',
 '06/29/2017',
 None,
 None,
 '01/06/2018',
 '07/05/2017',
 None,
 '10/17/2017',
 '07/22/2016',
 '11/02/2017',
 None,
 '04/12/2017',
 '05/12/2017',
 None,
 '06/25/2017',
 '05/07/2017',
 '12/21/2017',
 '11/01/2017',
 None,
 None,
 '10/15/2017',
 '07/15/2016',
 '10/23/2017',
 '10/20/2017',
 None,
 '05/23/2017',
 '08/20/2017',
 None,
 '09/08/2016',
 None,
 '12/28/2017',
 '09/14/2017',
 '07/08/2017',
 '11/05/2017',
 '11/09/2017',
 '01/20/2017',
 None,
 '01/10/2018',
 '01/07/2018',
 '01/06/2018',
 '08/23/2016',
 '12/30/2017',
 '11/28/2017',
 '07/10/2016',
 None,
 '05/31/2017',
 '07/23/2017',
 None,
 None,
 '01/01/2018',
 '04/20/2017',
 '05/20/2017',
 '09/14/2017',
 '08/19/2017',
 None,
 ...]

In [37]:
df.rev_date_1 = df.rev_date_1.apply(lambda x:pd.to_datetime(x))
df.rev_date_2 = df.rev_date_2.apply(lambda x:pd.to_datetime(x))

In [38]:
df.rev_date_1.max()
df.rev_date_2.max()

Timestamp('2018-02-26 00:00:00')

In [39]:
df['rev_diff']=abs(df['rev_date_1']-df['rev_date_2'])
df.rev_diff.max()

Timedelta('3207 days 00:00:00')

Проверим вероятность неверного ввода

In [40]:
print(df[df.rev_diff == df.rev_diff.max()]['Reviews'].iloc[0])

[['Incredible buffet!', 'Used to be great, but still good under new...'], ['10/02/2016', '12/22/2007']]

Промежуток между отзывами составляет около девяти-десяти лет, что не необычно для некоторых ресторанов, хотя сами отзывы обычно оставляются чаще. Разберемся, как часто это происходит в нашем датасете:

In [41]:
df.rev_diff.value_counts(bins=4,dropna=True)

(-4 days +19:01:55.199999999, 801 days 18:00:00]    32920
(801 days 18:00:00, 1603 days 12:00:00]               525
(1603 days 12:00:00, 2405 days 06:00:00]               67
(2405 days 06:00:00, 3207 days 00:00:00]               17
Name: rev_diff, dtype: int64

Как мы видим, в подавляющем большинстве ресторанов отзывы оказываются на сайте чаще, чем раз в два-три года. Тем не менее, для части ресторанов промежуток между отзывами является достаточно большим.

In [42]:
Rev_time_med = df['rev_diff'].median()
df['rev_diff'].fillna(Rev_time_med,inplace=True)
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cuisine_divided,cuisine_mean,rev_date_1,rev_date_2,rev_diff
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,2.5,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,"[European, French, International]",3,2017-12-31,2017-11-20,41 days
1,id_1535,Stockholm,NaN,1537.0,4.0,2.5,10.0,"[['Unique cuisine', 'Delicious Nepalese food']...",/Restaurant_Review-g189852-d7992032-Reviews-Bu...,d7992032,[Vegetarian Friendly],1,2017-07-06,2016-06-19,382 days
2,id_352,London,"['Japanese', 'Sushi', 'Asian', 'Grill', 'Veget...",353.0,4.5,4.0,688.0,"[['Catch up with friends', 'Not exceptional'],...",/Restaurant_Review-g186338-d8632781-Reviews-RO...,d8632781,"[Japanese, Sushi, Asian, Grill, Vegetarian Fri...",7,2018-01-08,2018-01-06,2 days
3,id_3456,Berlin,NaN,3458.0,5.0,2.5,3.0,"[[], []]",/Restaurant_Review-g187323-d1358776-Reviews-Es...,d1358776,[Vegetarian Friendly],1,NaT,NaT,49 days
4,id_615,Munich,"['German', 'Central European', 'Vegetarian Fri...",621.0,4.0,2.5,84.0,"[['Best place to try a Bavarian food', 'Nice b...",/Restaurant_Review-g187309-d6864963-Reviews-Au...,d6864963,"[German, Central European, Vegetarian Friendly]",3,2017-11-18,2017-02-19,272 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_499,Milan,"['Italian', 'Vegetarian Friendly', 'Vegan Opti...",500.0,4.5,2.5,79.0,"[['The real Italian experience!', 'Wonderful f...",/Restaurant_Review-g187849-d2104414-Reviews-Ro...,d2104414,"[Italian, Vegetarian Friendly, Vegan Options, ...",4,2017-12-16,2017-11-12,34 days
39996,id_6340,Paris,"['French', 'American', 'Bar', 'European', 'Veg...",6341.0,3.5,2.5,542.0,"[['Parisian atmosphere', 'Bit pricey but inter...",/Restaurant_Review-g187147-d1800036-Reviews-La...,d1800036,"[French, American, Bar, European, Vegetarian F...",5,2017-12-21,2017-12-12,9 days
39997,id_1649,Stockholm,"['Japanese', 'Sushi']",1652.0,4.5,2.5,4.0,"[['Good by swedish standards', 'A hidden jewel...",/Restaurant_Review-g189852-d947615-Reviews-Sus...,d947615,"[Japanese, Sushi]",2,2016-11-03,2008-04-12,3127 days
39998,id_640,Warsaw,"['Polish', 'European', 'Eastern European', 'Ce...",641.0,4.0,2.5,70.0,"[['Underground restaurant', 'Oldest Restaurant...",/Restaurant_Review-g274856-d1100838-Reviews-Ho...,d1100838,"[Polish, European, Eastern European, Central E...",5,2017-07-11,2017-06-18,23 days
39999,id_4824,Milan,['Spanish'],4827.0,3.0,2.5,260.0,"[['Average', 'Nice an informal'], ['01/31/2016...",/Restaurant_Review-g187849-d1109020-Reviews-Ta...,d1109020,[Spanish],1,2016-01-31,2012-07-04,1306 days

In [43]:
df.fillna({'Number of Reviews':NoR_median_val},inplace=True)

In [44]:
city_dict = dict()
city_array = df['City'].unique()
for element in city_array:
    city_dict[element]=0
for index, row in df.iterrows():
    city_dict[row['City']] =city_dict[row['City']]+row['Number of Reviews']
city_dict

{'Paris': 568836.0,
 'Stockholm': 61121.0,
 'London': 757656.0,
 'Berlin': 136518.0,
 'Munich': 69446.0,
 'Oporto': 66134.0,
 'Milan': 356036.0,
 'Bratislava': 15116.0,
 'Vienna': 92674.0,
 'Rome': 585930.0,
 'Barcelona': 343737.0,
 'Madrid': 298024.0,
 'Dublin': 100585.0,
 'Brussels': 90397.0,
 'Zurich': 40256.0,
 'Warsaw': 44644.0,
 'Budapest': 121382.0,
 'Copenhagen': 57686.0,
 'Amsterdam': 153559.0,
 'Lyon': 74501.0,
 'Hamburg': 43084.0,
 'Lisbon': 156510.0,
 'Prague': 164318.0,
 'Oslo': 35372.0,
 'Helsinki': 22044.0,
 'Edinburgh': 134954.0,
 'Geneva': 28948.0,
 'Ljubljana': 13141.0,
 'Athens': 59326.0,
 'Luxembourg': 16613.0,
 'Krakow': 50959.0}

In [45]:
popularity_list = list()
for index, row in df.iterrows():
    popularity_list.append((row['Number of Reviews']/city_dict[row['City']]))
npa = np.asarray(popularity_list, dtype=np.float32)
#scaler = MinMaxScaler()
#npa = scaler.fit_transform(npa.reshape(-1,1))
#npa

In [46]:
df['Popularity']=npa

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40000 entries, 0 to 39999
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Restaurant_id      40000 non-null  object
 1   City               40000 non-null  object
 2   Cuisine Style      30717 non-null  object
 3   Ranking            40000 non-null  float64
 4   Rating             40000 non-null  float64
 5   Price Range        40000 non-null  float64
 6   Number of Reviews  40000 non-null  float64
 7   Reviews            40000 non-null  object
 8   URL_TA             40000 non-null  object
 9   ID_TA              40000 non-null  object
 10  cuisine_divided    40000 non-null  object
 11  cuisine_mean       40000 non-null  int64
 12  rev_date_1         33529 non-null  datetime64[ns]
 13  rev_date_2         33529 non-null  datetime64[ns]
 14  rev_diff           40000 non-null  timedelta64[ns]
 15  Popularity         40000 non-null  float32
dtypes: datetime64[ns](2), float32(1), float64(4), int64(1), object(7), timedelta64[ns](1)
memory usage: 4.7+ MB

In [48]:
df['rev_to_today']=(pd.to_datetime('26.02.2018')-df['rev_date_1'])

In [49]:
df['rev_diff'] = df['rev_diff'].apply(lambda x: x.days)
df['rev_to_today']=df['rev_to_today'].apply(lambda x:x.days)
Rev_today = df['rev_to_today'].median()
df['rev_to_today'].fillna(Rev_today,inplace=True)

In [50]:
df_parse_data = pd.read_csv('parse_data.csv')
df_parse_data.columns = ['City','population','area','density']
display(df_parse_data)

          City  population  area  density
0        Paris    10785092   105     3800
1    Stockholm     1605030   188     4200
2       London     9787426  1572     5666
3       Berlin     4473100   891     5020
4       Munich     2606021   310     4800
5       Oporto      287591    41     6900
6        Milan     1399860   181     7700
7   Bratislava      563682   367      661
8       Vienna     1911191   414     4326
9         Rome     4342212  1285     2236
10   Barcelona     4840000   101    16000
11      Madrid     6345000   604     5300
12      Dublin     1173179   117     4811
13    Brussels     1208542   162     7400
14      Zurich      415215    87     4700
15      Warsaw     1793579   517     3460
16    Budapest     2997958   525     3388
17  Copenhagen     1330993   179     4600
18   Amsterdam     1558755   219     7118
19        Lyon     1659001    47     1400
20     Hamburg     2484800   755     2400
21      Lisbon     2042477   100    20425
22      Prague     1324277   496     2700
23        Oslo     1019513   480     2124
24    Helsinki     1268296  3076     1900
25   Edinburgh      512150  1828     1828
26      Geneva      201818    15    13000
27   Ljubljana      295504   163     1712
28      Athens     3090508    38     7500
29  Luxembourg      124528  2400     2400
30      Krakow      779115   326     2359

In [51]:
df = df.merge(df_parse_data, on='City')
df

,Restaurant_id,City,Cuisine Style,Ranking,Rating,Price Range,Number of Reviews,Reviews,URL_TA,ID_TA,cuisine_divided,cuisine_mean,rev_date_1,rev_date_2,rev_diff,Popularity,rev_to_today,population,area,density
0,id_5569,Paris,"['European', 'French', 'International']",5570.0,3.5,2.5,194.0,"[['Good food at your doorstep', 'A good hotel ...",/Restaurant_Review-g187147-d1912643-Reviews-R_...,d1912643,"[European, French, International]",3,2017-12-31,2017-11-20,41,0.000341,57.0,10785092,105,3800
1,id_10057,Paris,NaN,10059.0,4.5,2.5,4.0,"[['Fab Food'], ['08/20/2011']]",/Restaurant_Review-g187147-d2040769-Reviews-Le...,d2040769,[Vegetarian Friendly],1,2011-08-20,2011-08-20,0,0.000007,2382.0,10785092,105,3800
2,id_11291,Paris,['French'],11293.0,4.5,2.5,10.0,[['A relaxing dinner in a very personal atmos....,/Restaurant_Review-g187147-d3543081-Reviews-La...,d3543081,[French],1,2015-03-08,2015-03-08,0,0.000018,1086.0,10785092,105,3800
3,id_5459,Paris,"['Asian', 'Thai', 'Vegetarian Friendly']",5460.0,3.5,2.5,132.0,[['Very good Thai Food but small Portions and....,/Restaurant_Review-g187147-d953033-Reviews-Cha...,d953033,"[Asian, Thai, Vegetarian Friendly]",3,2017-10-18,2017-07-29,81,0.000232,131.0,10785092,105,3800
4,id_9924,Paris,['Pub'],9926.0,3.5,1.0,39.0,"[['English pub', 'Shameful'], ['02/14/2017', '...",/Restaurant_Review-g187147-d5799345-Reviews-Th...,d5799345,[Pub],1,2017-02-14,2017-12-10,299,0.000069,377.0,10785092,105,3800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,id_651,Krakow,"['Italian', 'Pizza']",652.0,4.0,2.5,28.0,"[['Warm and welcoming', 'Cozy, good food'], ['...",/Restaurant_Review-g274772-d3626236-Reviews-Tr...,d3626236,"[Italian, Pizza]",2,2017-10-10,2015-10-15,726,0.000549,139.0,779115,326,2359
39996,id_355,Krakow,"['Italian', 'Mediterranean', 'Vegetarian Frien...",356.0,4.0,2.5,201.0,"[['Nice meal', 'Excellent food'], ['11/12/2017...",/Restaurant_Review-g274772-d1929643-Reviews-La...,d1929643,"[Italian, Mediterranean, Vegetarian Friendly]",3,2017-11-12,2017-06-28,137,0.003944,106.0,779115,326,2359
39997,id_283,Krakow,"['Italian', 'Pizza', 'European', 'Vegetarian F...",284.0,4.0,2.5,340.0,"[['Good food and friendly service', 'Nice, fri...",/Restaurant_Review-g274772-d1098691-Reviews-Fa...,d1098691,"[Italian, Pizza, European, Vegetarian Friendly...",5,2017-12-20,2017-10-23,58,0.006672,68.0,779115,326,2359
39998,id_800,Krakow,NaN,801.0,4.5,2.5,11.0,"[['Great snacks', ""You won't be disappointed""]...",/Restaurant_Review-g274772-d3899509-Reviews-Pi...,d3899509,[Vegetarian Friendly],1,2016-10-05,2016-06-08,119,0.000216,509.0,779115,326,2359
39999,id_953,Krakow,NaN,954.0,3.5,2.5,11.0,"[['Yummy', 'Very disorganized'], ['12/23/2017'...",/Restaurant_Review-g274772-d10810513-Reviews-R...,d10810513,[Vegetarian Friendly],1,2017-12-23,2017-12-08,15,0.000216,65.0,779115,326,2359

In [52]:
#pol_col = ['Ranking','Price Range','Number of Reviews', 'cuisine_mean','rev_diff','rev_to_today','Popularity']
#pf = PolynomialFeatures(2, interaction_only=True)
#poly_features = pf.fit_transform(df[pol_col])
#df_poly = pd.DataFrame(data=poly_features)
#df = df.merge(df_poly, left_index=True, right_index=True)

In [53]:
df = pd.get_dummies(df, columns=[ 'City'], dummy_na=True)
df_cuisine = pd.get_dummies(df.cuisine_divided.apply(pd.Series).stack()).sum(level=0)

In [54]:
df = df.merge(df_cuisine, left_index=True, right_index=True)

In [55]:

df_prep_2 = df.drop(['Restaurant_id','Cuisine Style','Reviews','URL_TA','ID_TA','cuisine_divided'],axis = 1)
df_prep_2 = df_prep_2.drop(['rev_date_1','rev_date_2'],axis = 1)
X = df_prep_2.drop('Rating', axis = 1)
y = df_prep_2['Rating']
df_prep_2

,Ranking,Rating,Price Range,Number of Reviews,cuisine_mean,rev_diff,Popularity,rev_to_today,population,area,...,Ukrainian,Uzbek,Vegan Options,Vegetarian Friendly,Venezuelan,Vietnamese,Welsh,Wine Bar,Xinjiang,Yunnan
0,5570.0,3.5,2.5,194.0,3,41,0.000341,57.0,10785092,105,...,0,0,0,0,0,0,0,0,0,0
1,10059.0,4.5,2.5,4.0,1,0,0.000007,2382.0,10785092,105,...,0,0,0,1,0,0,0,0,0,0
2,11293.0,4.5,2.5,10.0,1,0,0.000018,1086.0,10785092,105,...,0,0,0,0,0,0,0,0,0,0
3,5460.0,3.5,2.5,132.0,3,81,0.000232,131.0,10785092,105,...,0,0,0,1,0,0,0,0,0,0
4,9926.0,3.5,1.0,39.0,1,299,0.000069,377.0,10785092,105,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,652.0,4.0,2.5,28.0,2,726,0.000549,139.0,779115,326,...,0,0,0,0,0,0,0,0,0,0
39996,356.0,4.0,2.5,201.0,3,137,0.003944,106.0,779115,326,...,0,0,0,1,0,0,0,0,0,0
39997,284.0,4.0,2.5,340.0,5,58,0.006672,68.0,779115,326,...,0,0,1,1,0,0,0,0,0,0
39998,801.0,4.5,2.5,11.0,1,119,0.000216,509.0,779115,326,...,0,0,0,1,0,0,0,0,0,0
39999,954.0,3.5,2.5,11.0,1,15,0.000216,65.0,779115,326,...,0,0,0,1,0,0,0,0,0,0

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [57]:
# Создаём модель
regr = RandomForestRegressor(n_estimators=100)

# Обучаем модель на тестовом наборе данных
regr.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = regr.predict(X_test)

In [58]:
y_pred

array([4.84 , 3.295, 3.525, ..., 3.8  , 4.475, 3.915])

In [59]:
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.210238

Так как "Рейтинг" может принимать только определенный набор значений:

In [60]:
df.Rating.value_counts()

4.0    13692
4.5    10929
3.5     6824
5.0     3879
3.0     2955
2.5      915
2.0      466
1.0      201
1.5      139
Name: Rating, dtype: int64

Дообработаем результат предсказания модели:

In [61]:
y_pred = np.round_(y_pred*2,decimals=0)/2

In [62]:
print(y_pred)

[5.  3.5 3.5 ... 4.  4.5 4. ]

Что позволит дополнительно снизить абсолютное среднее отклонение:

In [63]:
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))

MAE: 0.1785