In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
#with open("dataparts"+str(0)+".json", "r", encoding="utf8") as f:
#        data = json.load(f)
#        df = pd.read_json("dataparts"+str(0)+".json")
#for i in range(60):
#    with open("dataparts"+str(i)+".json", "r", encoding="utf8") as f:
#        data = json.load(f)
#        df = df.append(pd.read_json("dataparts"+str(i)+".json"))
with open("dp4"+'SKODA'+".json", "r", encoding="utf8") as f:
        data = json.load(f)
        df = pd.read_json("dp4"+'SKODA'+".json")
#mark_list = ['KIA', 'BMW', 'HYUNDAI', 'TAGAZ', 'VAZ', 'MERCEDES',
#       'RENAULT', 'LAND_ROVER', 'TOYOTA']
#mark_list_2 = ['PORSCHE', 'SKODA', 'VOLVO',
#       'ZAZ', 'VOLKSWAGEN', 'LAMBORGHINI', 'CITROEN', 'SUZUKI', 'GEELY',
#       'MITSUBISHI', 'IG', 'AUDI', 'MINI', 'FORD', 'CHEVROLET', 'LEXUS',
#       'MAZDA', 'FERRARI']
#mark_list_3 = ['KIA', 'BMW', 'HYUNDAI', 'TAGAZ', 'VAZ', 'MERCEDES',
#       'RENAULT', 'LAND_ROVER', 'TOYOTA', 'PORSCHE', 'SKODA', 'VOLVO',
#       'ZAZ', 'VOLKSWAGEN', 'LAMBORGHINI', 'CITROEN', 'SUZUKI', 'GEELY',
#       'MITSUBISHI', 'IG', 'AUDI', 'MINI', 'FORD', 'CHEVROLET', 'LEXUS',
#       'MAZDA', 'FERRARI', 'LIFAN', 'HONDA', 'INFINITI', 'PEUGEOT', 'UAZ',
#       'OPEL', 'JEEP', 'GAZ', 'SSANG_YONG', 'DATSUN', 'CHERY', 'FIAT',
#       'JAGUAR', 'TESLA', 'CADILLAC', 'DONGFENG', 'DODGE', 'CHRYSLER',
#       'SUBARU', 'GREAT_WALL', 'RAVON', 'FAW', 'BYD', 'HAVAL', 'DAEWOO',
#       'BRILLIANCE', 'SEAT', 'VORTEX', 'CHANGAN', 'PONTIAC', 'BENTLEY',
#       'HUMMER', 'RAM', 'GENESIS', 'DACIA', 'GMC', 'LINCOLN', 'MASERATI',
 #      'MOSCVICH', 'ACURA']
mark_list_4 = ['AUDI', 'HONDA', 'VOLVO', 'BMW', 'NISSAN', 'INFINITI',
       'MERCEDES', 'TOYOTA', 'LEXUS', 'VOLKSWAGEN', 'MITSUBISHI']
for element in mark_list_4:
    with open("dp4"+element+".json", "r", encoding="utf8") as f:
        data = json.load(f)
        df = df.append(pd.read_json("dp4"+element+".json"))

In [3]:
df.drop(['availability','category','delivery_info','description','discount_options','is_favorite','old_category_id','seller','service_prices',
        'sub_category'],axis=1,inplace=True)

df.drop(['seller_type','shark_info','status','tags','recall_info','saleId'],axis=1,inplace=True)

df.drop(['score','services','relevance','additional_info','counters','grouping_info'],axis=1,inplace=True)

df.drop(['hash','id','multiposting','price_history'],axis=1,inplace=True)

df.drop(['soldMinutes','badges','dealer_credit_config'],axis=1,inplace=True)

df.drop(['brand_cert_info','discount_price'],axis=1,inplace=True)

df.drop('lk_summary',axis=1,inplace=True)

df.drop('salon',axis=1,inplace=True)

df['price'] = df.price_info.apply(lambda x: x.get('price',0))

df['mileage'] = df.state.apply(lambda x: x.get('mileage',0))

df['state_not_beaten'] = df.state.apply(lambda x: x.get('state_not_beaten',True))

df['owners_number'] = df.documents.apply(lambda x: x.get('owners_number',0))

df['year'] = df.documents.apply(lambda x: x.get('year'))

df['custom_cleared'] = df.documents.apply(lambda x: x.get('custom_cleared'))

df.drop(['state','documents','price_info'],axis=1,inplace=True)

df['configuration'] = df.vehicle_info.apply(lambda x:x.get('configuration'))

df['equipment'] = df.vehicle_info.apply(lambda x:x.get('equipment'))

df['mark_info'] = df.vehicle_info.apply(lambda x:x.get('mark_info'))

df['model_info'] = df.vehicle_info.apply(lambda x:x.get('model_info'))

df.vehicle_info.iloc[0]['steering_wheel']

df['steering_wheel'] = df.vehicle_info.apply(lambda x:x.get('steering_wheel'))

df.vehicle_info.iloc[0]['tech_param']

df['tech_param'] = df.vehicle_info.apply(lambda x:x.get('tech_param'))

df.vehicle_info.iloc[0]['super_gen']

df['super_gen'] = df.vehicle_info.apply(lambda x:x.get('super_gen'))

In [4]:
df.dropna(inplace=True)

In [5]:
def body_get(x):
    try:
        res = x.get('body_type')
        return(res)
    except AttributeError:
        return('OTHER')

df['body_type']= df.configuration.apply(lambda x:body_get(x))

In [6]:
df.configuration.iloc[1]

{'id': '2309187',
 'body_type': 'LIFTBACK',
 'doors_count': 5,
 'human_name': 'Лифтбек',
 'main_photo': {'name': 'configuration-photo',
  'sizes': {'main': '//avatars.mds.yandex.net/get-verba/787013/2a000001609d4ef2dfd2840daff6d02f268d/gallery',
   'mini-card': '//avatars.mds.yandex.net/get-verba/787013/2a000001609d4ef2dfd2840daff6d02f268d/minicard',
   'mobile': '//avatars.mds.yandex.net/get-verba/787013/2a000001609d4ef2dfd2840daff6d02f268d/auto_main',
   'orig': '//avatars.mds.yandex.net/get-verba/787013/2a000001609d4ef2dfd2840daff6d02f268d/orig',
   'wizardv3mr': '//avatars.mds.yandex.net/get-verba/787013/2a000001609d4ef2dfd2840daff6d02f268d/wizardv3mr',
   'cattouch': '//avatars.mds.yandex.net/get-verba/787013/2a000001609d4ef2dfd2840daff6d02f268d/cattouch'}}}

In [7]:
def df_dict_expand(dataframe,column,col_list):
    for entity in col_list:
        #print(dataframe[column])
        dataframe[entity] = dataframe.loc[:,column].apply(lambda x:x.get(entity))

In [8]:
df.loc[:,'configuration'].apply(lambda x:type(x))

0       <class 'dict'>
1       <class 'dict'>
2       <class 'dict'>
3       <class 'dict'>
4       <class 'dict'>
             ...
2280    <class 'dict'>
2281    <class 'dict'>
2282    <class 'dict'>
2283    <class 'dict'>
2284    <class 'dict'>
Name: configuration, Length: 28970, dtype: object

In [9]:
df_dict_expand(df,'configuration',['doors_count','auto_class','trunk_volume_min','trunk_volume_max','body_type_group'])

In [10]:
df

,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,...,model_info,steering_wheel,tech_param,super_gen,body_type,doors_count,auto_class,trunk_volume_min,trunk_volume_max,body_type_group
0,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '9338209', 'body_type...",1276000.0,174000,True,1,2016,True,...,"{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '10373605', 'name': '', 'nameplate': ''...","{'id': '9338208', 'name': 'III (A7)', 'ru_name...",LIFTBACK,5,None,None,None,None
1,EE1D19,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '2309187', 'body_type...",502280.0,290000,True,3,2009,True,...,"{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '2309188', 'name': '', 'nameplate': '',...","{'id': '2309186', 'name': 'I (A4) Рестайлинг',...",LIFTBACK,5,None,None,None,None
2,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",1933800.0,75500,True,2,2018,True,...,"{'code': 'KODIAQ', 'name': 'Kodiaq', 'ru_name'...",LEFT,"{'id': '21550029', 'name': '', 'nameplate': ''...","{'id': '20839003', 'name': 'I', 'ru_name': '1'...",ALLROAD_5_DOORS,5,None,None,None,None
3,FAFBFB,"{'transport_tax': {'tax_by_year': 9000, 'year'...",used,"{'configuration': {'id': '20898233', 'body_typ...",1496930.0,107983,True,2,2017,True,...,"{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '20913311', 'name': '', 'nameplate': ''...","{'id': '20898195', 'name': 'III (A7) Рестайлин...",LIFTBACK,5,None,None,None,None
4,007F00,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",2100000.0,52387,True,1,2019,True,...,"{'code': 'KODIAQ', 'name': 'Kodiaq', 'ru_name'...",LEFT,"{'id': '20839231', 'name': '', 'nameplate': ''...","{'id': '20839003', 'name': 'I', 'ru_name': '1'...",ALLROAD_5_DOORS,5,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2280,040001,"{'transport_tax': {'tax_by_year': 6400, 'year'...",used,"{'configuration': {'id': '2308027', 'body_type...",477000.0,286200,True,4,2006,True,...,"{'code': 'OUTLANDER', 'name': 'Outlander', 'ru...",LEFT,"{'id': '2308031', 'name': '', 'nameplate': '',...","{'id': '2308026', 'name': 'I', 'ru_name': '1',...",ALLROAD_5_DOORS,5,None,None,None,None
2281,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",295800.0,301600,True,4,2006,True,...,"{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '20395133', 'name': '', 'nameplate': ''...","{'id': '2334567', 'name': 'IX', 'ru_name': '9'...",SEDAN,4,None,None,None,None
2282,0000CC,"{'transport_tax': {'tax_by_year': 2725, 'year'...",used,"{'configuration': {'id': '2307988', 'body_type...",596370.0,224540,True,2,2011,True,...,"{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '7846999', 'name': '', 'nameplate': '',...","{'id': '2307987', 'name': 'X Рестайлинг', 'ru_...",SEDAN,4,None,None,None,None
2283,0000CC,"{'transport_tax': {'tax_by_year': 3502, 'year'...",used,"{'configuration': {'id': '4760286', 'body_type...",234000.0,526500,True,4,2002,True,...,"{'code': 'CARISMA', 'name': 'Carisma', 'ru_nam...",LEFT,"{'id': '21213204', 'name': '', 'nameplate': ''...","{'id': '4760285', 'name': 'I Рестайлинг', 'ru_...",SEDAN,4,None,None,None,None
2284,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",313501.5,288771,True,4,2007,True,...,"{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '21304044', 'name': '', 'nameplate': ''...","{'id': '2334567', 'name': 'IX', 'ru_name': '9'...",SEDAN,4,None,None,None,None

In [11]:
df.reset_index(inplace=True)

In [12]:
df.drop(['index'],axis=1,inplace=True)

In [13]:
df.tech_param.iloc[1]

{'id': '2309188',
 'name': '',
 'nameplate': '',
 'displacement': 1390,
 'engine_type': 'GASOLINE',
 'gear_type': 'FORWARD_CONTROL',
 'transmission': 'MECHANICAL',
 'power': 75,
 'power_kvt': 55,
 'human_name': '1.4 MT (75 л.с.)'}

In [14]:
df_dict_expand(df,'tech_param',['displacement','engine_type','gear_type','transmission','power','power_kvt','acceleration','clearance_min','fuel_rate'])

In [15]:
df

,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,...,body_type_group,displacement,engine_type,gear_type,transmission,power,power_kvt,acceleration,clearance_min,fuel_rate
0,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '9338209', 'body_type...",1276000.0,174000,True,1,2016,True,...,None,1197,GASOLINE,FORWARD_CONTROL,ROBOT,105,77,None,None,None
1,EE1D19,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '2309187', 'body_type...",502280.0,290000,True,3,2009,True,...,None,1390,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None
2,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",1933800.0,75500,True,2,2018,True,...,None,1498,GASOLINE,FORWARD_CONTROL,MECHANICAL,150,110,None,None,None
3,FAFBFB,"{'transport_tax': {'tax_by_year': 9000, 'year'...",used,"{'configuration': {'id': '20898233', 'body_typ...",1496930.0,107983,True,2,2017,True,...,None,1598,GASOLINE,FORWARD_CONTROL,MECHANICAL,110,81,None,None,None
4,007F00,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",2100000.0,52387,True,1,2019,True,...,None,1395,GASOLINE,ALL_WHEEL_DRIVE,ROBOT,150,110,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28965,040001,"{'transport_tax': {'tax_by_year': 6400, 'year'...",used,"{'configuration': {'id': '2308027', 'body_type...",477000.0,286200,True,4,2006,True,...,None,2378,GASOLINE,ALL_WHEEL_DRIVE,AUTOMATIC,160,118,None,None,None
28966,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",295800.0,301600,True,4,2006,True,...,None,2378,GASOLINE,FORWARD_CONTROL,AUTOMATIC,162,119,None,None,None
28967,0000CC,"{'transport_tax': {'tax_by_year': 2725, 'year'...",used,"{'configuration': {'id': '2307988', 'body_type...",596370.0,224540,True,2,2011,True,...,None,1590,GASOLINE,FORWARD_CONTROL,AUTOMATIC,117,86,None,None,None
28968,0000CC,"{'transport_tax': {'tax_by_year': 3502, 'year'...",used,"{'configuration': {'id': '4760286', 'body_type...",234000.0,526500,True,4,2002,True,...,None,1834,GASOLINE,FORWARD_CONTROL,MECHANICAL,122,90,None,None,None
28969,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",313501.5,288771,True,4,2007,True,...,None,1299,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None

In [16]:
df.model_info.iloc[1]

{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_name': 'Октавия'}

In [17]:
df_dict_expand(df,'mark_info',['code'])

In [18]:
df['model'] = df.model_info.apply(lambda x: x.get('code'))

In [19]:
pd.set_option('display.max_columns', None)

In [20]:
df.owner_expenses.iloc[1]

{'transport_tax': {'tax_by_year': 5250,
  'year': 2021,
  'rid': 213,
  'rate': 35,
  'horse_power': 150,
  'holding_period_month': 12,
  'boost': 1},
 'osago_insurance': [{'insurance_company': 'TINKOFF', 'price': 5521}]}

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28970 entries, 0 to 28969
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   color_hex         28970 non-null  object
 1   owner_expenses    28970 non-null  object
 2   section           28970 non-null  object
 3   vehicle_info      28970 non-null  object
 4   price             28970 non-null  float64
 5   mileage           28970 non-null  int64
 6   state_not_beaten  28970 non-null  bool
 7   owners_number     28970 non-null  int64
 8   year              28970 non-null  int64
 9   custom_cleared    28970 non-null  bool
 10  configuration     28970 non-null  object
 11  equipment         28970 non-null  object
 12  mark_info         28970 non-null  object
 13  model_info        28970 non-null  object
 14  steering_wheel    28970 non-null  object
 15  tech_param        28970 non-null  object
 16  super_gen         28970 non-null  object
 17  body_type         28970 non-null  object
 18  doors_count       28970 non-null  int64
 19  auto_class        0 non-null      object
 20  trunk_volume_min  0 non-null      object
 21  trunk_volume_max  0 non-null      object
 22  body_type_group   0 non-null      object
 23  displacement      28970 non-null  int64
 24  engine_type       28970 non-null  object
 25  gear_type         28970 non-null  object
 26  transmission      28970 non-null  object
 27  power             28970 non-null  int64
 28  power_kvt         28970 non-null  int64
 29  acceleration      0 non-null      object
 30  clearance_min     0 non-null      object
 31  fuel_rate         0 non-null      object
 32  code              28970 non-null  object
 33  model             28970 non-null  object
dtypes: bool(2), float64(1), int64(7), object(24)
memory usage: 7.1+ MB

In [22]:
df.vehicle_info.iloc[0]

{'configuration': {'id': '9338209',
  'body_type': 'LIFTBACK',
  'doors_count': 5,
  'human_name': 'Лифтбек',
  'main_photo': {'name': 'configuration-photo',
   'sizes': {'main': '//avatars.mds.yandex.net/get-verba/787013/2a000001609ce33be7e81ee2f5c9f9f1c0ec/gallery',
    'mini-card': '//avatars.mds.yandex.net/get-verba/787013/2a000001609ce33be7e81ee2f5c9f9f1c0ec/minicard',
    'mobile': '//avatars.mds.yandex.net/get-verba/787013/2a000001609ce33be7e81ee2f5c9f9f1c0ec/auto_main',
    'orig': '//avatars.mds.yandex.net/get-verba/787013/2a000001609ce33be7e81ee2f5c9f9f1c0ec/orig',
    'wizardv3mr': '//avatars.mds.yandex.net/get-verba/787013/2a000001609ce33be7e81ee2f5c9f9f1c0ec/wizardv3mr',
    'cattouch': '//avatars.mds.yandex.net/get-verba/787013/2a000001609ce33be7e81ee2f5c9f9f1c0ec/cattouch'}}},
 'complectation': {'id': '21151162',
  'name': 'Style',
  'available_options': ['cruise-control',
   'multi-wheel',
   'heated-wash-system',
   'airbag-passenger',
   'lock',
   'electro-mirrors',
   'mirrors-heat',
   'volume-sensor',
   'cooling-box',
   'computer',
   'seat-transformation',
   'wheel-power',
   'fabric-seats',
   'airbag-side',
   'abs',
   'wheel-leather',
   'climate-control-1',
   'esp',
   'usb',
   'audiopreparation',
   'ashtray-and-cigarette-lighter',
   'front-centre-armrest',
   'electro-window-back',
   '16-inch-wheels',
   'condition',
   'park-assist-r',
   'airbag-driver',
   'isofix',
   'aux',
   'electro-window-front',
   'hcc',
   'airbag-curtain',
   'alarm',
   'ptf',
   'rain-sensor',
   'voice-recognition',
   'audiosystem-cd',
   'migration-flag',
   'front-seats-heat',
   'bluetooth',
   'wheel-configuration2',
   'wheel-configuration1',
   'immo',
   '12v-socket']},
 'equipment': {'cruise-control': True,
  'esp': True,
  'adaptive-light': True,
  'usb': True,
  'multi-wheel': True,
  'spare-wheel': True,
  'audiosystem-tv': True,
  'heated-wash-system': True,
  'ashtray-and-cigarette-lighter': True,
  'airbag-passenger': True,
  'front-centre-armrest': True,
  'rear-camera': True,
  'lock': True,
  'drl': True,
  'electro-mirrors': True,
  'electro-window-back': True,
  '16-inch-wheels': True,
  'mirrors-heat': True,
  'volume-sensor': True,
  'dark-interior': True,
  'cooling-box': True,
  'park-assist-r': True,
  'wireless-charger': True,
  'airbag-driver': True,
  'isofix': True,
  'aux': True,
  'electro-window-front': True,
  'light-sensor': True,
  'hcc': True,
  'automatic-lighting-control': True,
  'airbag-curtain': True,
  'computer': True,
  'keyless-entry': True,
  'programmed-block-heater': True,
  'seat-transformation': True,
  'wheel-power': True,
  'alarm': True,
  'light-cleaner': True,
  'fabric-seats': True,
  'leather-gear-stick': True,
  'start-button': True,
  'ptf': True,
  'rain-sensor': True,
  'airbag-side': True,
  'voice-recognition': True,
  'audiosystem-cd': True,
  'abs': True,
  'front-seats-heat': True,
  'bluetooth': True,
  'wheel-leather': True,
  'wheel-configuration2': True,
  'wheel-configuration1': True,
  'immo': True,
  'climate-control-2': True,
  'auto-mirrors': True,
  '12v-socket': True},
 'mark_info': {'code': 'SKODA',
  'name': 'Skoda',
  'ru_name': 'Шкода',
  'logo': {'name': 'mark-logo',
   'sizes': {'logo': '//avatars.mds.yandex.net/get-verba/997355/2a00000179b408cdfb64617747069ec1bf81/logo',
    'big-logo': '//avatars.mds.yandex.net/get-verba/997355/2a00000179b408cdfb64617747069ec1bf81/dealer_logo',
    'black-logo': '//avatars.mds.yandex.net/get-verba/216201/2a00000179b408f22c1208aecc4e770de418/logo'}},
  'numeric_id': '3189'},
 'model_info': {'code': 'OCTAVIA', 'name': 'Octavia', 'ru_name': 'Октавия'},
 'steering_wheel': 'LEFT',
 'super_gen': {'id': '9338208',
  'name': 'III (A7)',
  'ru_name': '3',
  'year_from': 2013,
  'year_to': 2017,
  'price_segment': 'MEDIUM',
  'purpose_group': 'FAMILY'},
 'tech_param': {'id': '10373605',
  'name': '',
  'nameplate': '',
  'displacement': 1197,
  'engine_type': 'GASOLINE',
  'gear_type': 'FORWARD_CONTROL',
  'transmission': 'ROBOT',
  'power': 105,
  'power_kvt': 77,
  'human_name': '1.2 AMT (105 л.с.)'},
 'vendor': 'EUROPEAN'}

In [23]:
df_dict_expand(df,'vehicle_info',['vendor'])

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28970 entries, 0 to 28969
Data columns (total 35 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   color_hex         28970 non-null  object
 1   owner_expenses    28970 non-null  object
 2   section           28970 non-null  object
 3   vehicle_info      28970 non-null  object
 4   price             28970 non-null  float64
 5   mileage           28970 non-null  int64
 6   state_not_beaten  28970 non-null  bool
 7   owners_number     28970 non-null  int64
 8   year              28970 non-null  int64
 9   custom_cleared    28970 non-null  bool
 10  configuration     28970 non-null  object
 11  equipment         28970 non-null  object
 12  mark_info         28970 non-null  object
 13  model_info        28970 non-null  object
 14  steering_wheel    28970 non-null  object
 15  tech_param        28970 non-null  object
 16  super_gen         28970 non-null  object
 17  body_type         28970 non-null  object
 18  doors_count       28970 non-null  int64
 19  auto_class        0 non-null      object
 20  trunk_volume_min  0 non-null      object
 21  trunk_volume_max  0 non-null      object
 22  body_type_group   0 non-null      object
 23  displacement      28970 non-null  int64
 24  engine_type       28970 non-null  object
 25  gear_type         28970 non-null  object
 26  transmission      28970 non-null  object
 27  power             28970 non-null  int64
 28  power_kvt         28970 non-null  int64
 29  acceleration      0 non-null      object
 30  clearance_min     0 non-null      object
 31  fuel_rate         0 non-null      object
 32  code              28970 non-null  object
 33  model             28970 non-null  object
 34  vendor            28970 non-null  object
dtypes: bool(2), float64(1), int64(7), object(25)
memory usage: 7.3+ MB

In [25]:
df['owner_expenses']=df['owner_expenses'].apply(lambda x: {'transport_tax': {'tax_by_year': np.nan,
  'year': np.nan,
  'rid': np.nan,
  'rate': np.nan},
 'osago_insurance': [{'insurance_company': np.nan, 'price': np.nan}]} if pd.isnull(x) else x)

In [26]:
df.owner_expenses.isna().value_counts()

False    28970
Name: owner_expenses, dtype: int64

In [27]:
df.owner_expenses.apply(lambda x:type(x)).value_counts()

<class 'dict'>    28970
Name: owner_expenses, dtype: int64

In [28]:
df

,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,configuration,equipment,mark_info,model_info,steering_wheel,tech_param,super_gen,body_type,doors_count,auto_class,trunk_volume_min,trunk_volume_max,body_type_group,displacement,engine_type,gear_type,transmission,power,power_kvt,acceleration,clearance_min,fuel_rate,code,model,vendor
0,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '9338209', 'body_type...",1276000.0,174000,True,1,2016,True,"{'id': '9338209', 'body_type': 'LIFTBACK', 'do...","{'cruise-control': True, 'esp': True, 'adaptiv...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '10373605', 'name': '', 'nameplate': ''...","{'id': '9338208', 'name': 'III (A7)', 'ru_name...",LIFTBACK,5,None,None,None,None,1197,GASOLINE,FORWARD_CONTROL,ROBOT,105,77,None,None,None,SKODA,OCTAVIA,EUROPEAN
1,EE1D19,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '2309187', 'body_type...",502280.0,290000,True,3,2009,True,"{'id': '2309187', 'body_type': 'LIFTBACK', 'do...",{},"{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '2309188', 'name': '', 'nameplate': '',...","{'id': '2309186', 'name': 'I (A4) Рестайлинг',...",LIFTBACK,5,None,None,None,None,1390,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,SKODA,OCTAVIA,EUROPEAN
2,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",1933800.0,75500,True,2,2018,True,"{'id': '20839055', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'engine-proof': True,...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'KODIAQ', 'name': 'Kodiaq', 'ru_name'...",LEFT,"{'id': '21550029', 'name': '', 'nameplate': ''...","{'id': '20839003', 'name': 'I', 'ru_name': '1'...",ALLROAD_5_DOORS,5,None,None,None,None,1498,GASOLINE,FORWARD_CONTROL,MECHANICAL,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN
3,FAFBFB,"{'transport_tax': {'tax_by_year': 9000, 'year'...",used,"{'configuration': {'id': '20898233', 'body_typ...",1496930.0,107983,True,2,2017,True,"{'id': '20898233', 'body_type': 'LIFTBACK', 'd...","{'asr': True, 'airbag-driver': True, 'usb': Tr...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '20913311', 'name': '', 'nameplate': ''...","{'id': '20898195', 'name': 'III (A7) Рестайлин...",LIFTBACK,5,None,None,None,None,1598,GASOLINE,FORWARD_CONTROL,MECHANICAL,110,81,None,None,None,SKODA,OCTAVIA,EUROPEAN
4,007F00,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",2100000.0,52387,True,1,2019,True,"{'id': '20839055', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'airbag-driver': True...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'KODIAQ', 'name': 'Kodiaq', 'ru_name'...",LEFT,"{'id': '20839231', 'name': '', 'nameplate': ''...","{'id': '20839003', 'name': 'I', 'ru_name': '1'...",ALLROAD_5_DOORS,5,None,None,None,None,1395,GASOLINE,ALL_WHEEL_DRIVE,ROBOT,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28965,040001,"{'transport_tax': {'tax_by_year': 6400, 'year'...",used,"{'configuration': {'id': '2308027', 'body_type...",477000.0,286200,True,4,2006,True,"{'id': '2308027', 'body_type': 'ALLROAD_5_DOOR...","{'engine-proof': True, 'alloy-wheel-disks': Tr...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'OUTLANDER', 'name': 'Outlander', 'ru...",LEFT,"{'id': '2308031', 'name': '', 'nameplate': '',...","{'id': '2308026', 'name': 'I', 'ru_name': '1',...",ALLROAD_5_DOORS,5,None,None,None,None,2378,GASOLINE,ALL_WHEEL_DRIVE,AUTOMATIC,160,118,None,None,None,MITSUBISHI,OUTLANDER,JAPANESE
28966,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",295800.0,301600,True,4,2006,True,"{'id': '7772063', 'body_type': 'SEDAN', 'doors...",{},"{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '20395133', 'name': '', 'nameplate': ''...","{'id': '2334567', 'name': 'IX', 'ru_name': '9'...",SEDAN,4,None,None,None,None,2378,GASOLINE,FORWARD_CONTROL,AUTOMATIC,162,119,None,None,None,MITSUBISHI,LANCER,JAPANESE
28967,0000CC,"{'transport_tax': {'tax_by_year': 2725, 'year'...",used,"{'configuration': {'id': '2307988', 'body_type...",596370.0,224540,True,2,2011,True,"{'id': '2307988', 'body_type': 'SEDAN', 'doors...","{'electro-window-back': True, 'condition': Tru...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '7846999', 'name': '', 'nameplate': '',...","{'id': '2307987', 'name': 'X Рестайлинг', 'ru_...",SEDAN,4,None,None,None,None,1590,GASOLINE,FORWARD_CONTROL,AUTOMATIC,117,86,None,None,None,MITSUBISHI,LANCER,JAPANESE
28968,0000CC,"{'transport_tax': {'tax_by_year': 3502, 'year'...",used,"{'configuration': {'id': '4760286', 'body_type...",234000.0,526500,True,4,2002,True,"{'id': '4760286', 'body_type': 'SEDAN', 'doors...",{},"{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'CARISMA', 'name': 'Carisma', 'ru_nam...",LEFT,"{'id': '21213204', 'name': '', 'nameplate': ''...","{'id': '4760285', 'name': 'I Рестайлинг', 'ru_...",SEDAN,4,None,None,None,None,1834,GASOLINE,FORWARD_CONTROL,MECHANICAL,122,90,None,None,None,MITSUBISHI,CARISMA,JAPANESE
28969,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",313501.5,288771,True,4,2007,True,"{'id': '7772063', 'body_type': 'SEDAN', 'doors...","{'engine-proof': True, 'tinted-glass': True, '...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '21304044', 'name': '', 'nameplate': ''...","{'id': '2334567', 'name': 'IX', 'ru_name': '9'...",SEDAN,4,None,None,None,None,1299,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,MITSUBISHI,LANCER,JAPANESE

In [29]:
df_dict_expand(df,'owner_expenses',['transport_tax','osago_insurance'])

In [30]:
df

,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,configuration,equipment,mark_info,model_info,steering_wheel,tech_param,super_gen,body_type,doors_count,auto_class,trunk_volume_min,trunk_volume_max,body_type_group,displacement,engine_type,gear_type,transmission,power,power_kvt,acceleration,clearance_min,fuel_rate,code,model,vendor,transport_tax,osago_insurance
0,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '9338209', 'body_type...",1276000.0,174000,True,1,2016,True,"{'id': '9338209', 'body_type': 'LIFTBACK', 'do...","{'cruise-control': True, 'esp': True, 'adaptiv...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '10373605', 'name': '', 'nameplate': ''...","{'id': '9338208', 'name': 'III (A7)', 'ru_name...",LIFTBACK,5,None,None,None,None,1197,GASOLINE,FORWARD_CONTROL,ROBOT,105,77,None,None,None,SKODA,OCTAVIA,EUROPEAN,"{'tax_by_year': 5250, 'year': 2021, 'rid': 213...","[{'insurance_company': 'TINKOFF', 'price': 5521}]"
1,EE1D19,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '2309187', 'body_type...",502280.0,290000,True,3,2009,True,"{'id': '2309187', 'body_type': 'LIFTBACK', 'do...",{},"{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '2309188', 'name': '', 'nameplate': '',...","{'id': '2309186', 'name': 'I (A4) Рестайлинг',...",LIFTBACK,5,None,None,None,None,1390,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,SKODA,OCTAVIA,EUROPEAN,"{'tax_by_year': 5250, 'year': 2021, 'rid': 213...","[{'insurance_company': 'TINKOFF', 'price': 5521}]"
2,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",1933800.0,75500,True,2,2018,True,"{'id': '20839055', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'engine-proof': True,...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'KODIAQ', 'name': 'Kodiaq', 'ru_name'...",LEFT,"{'id': '21550029', 'name': '', 'nameplate': ''...","{'id': '20839003', 'name': 'I', 'ru_name': '1'...",ALLROAD_5_DOORS,5,None,None,None,None,1498,GASOLINE,FORWARD_CONTROL,MECHANICAL,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,"{'tax_by_year': 5250, 'year': 2021, 'rid': 213...",None
3,FAFBFB,"{'transport_tax': {'tax_by_year': 9000, 'year'...",used,"{'configuration': {'id': '20898233', 'body_typ...",1496930.0,107983,True,2,2017,True,"{'id': '20898233', 'body_type': 'LIFTBACK', 'd...","{'asr': True, 'airbag-driver': True, 'usb': Tr...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '20913311', 'name': '', 'nameplate': ''...","{'id': '20898195', 'name': 'III (A7) Рестайлин...",LIFTBACK,5,None,None,None,None,1598,GASOLINE,FORWARD_CONTROL,MECHANICAL,110,81,None,None,None,SKODA,OCTAVIA,EUROPEAN,"{'tax_by_year': 9000, 'year': 2021, 'rid': 213...",None
4,007F00,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",2100000.0,52387,True,1,2019,True,"{'id': '20839055', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'airbag-driver': True...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'KODIAQ', 'name': 'Kodiaq', 'ru_name'...",LEFT,"{'id': '20839231', 'name': '', 'nameplate': ''...","{'id': '20839003', 'name': 'I', 'ru_name': '1'...",ALLROAD_5_DOORS,5,None,None,None,None,1395,GASOLINE,ALL_WHEEL_DRIVE,ROBOT,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,"{'tax_by_year': 5250, 'year': 2021, 'rid': 213...","[{'insurance_company': 'TINKOFF', 'price': 5521}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28965,040001,"{'transport_tax': {'tax_by_year': 6400, 'year'...",used,"{'configuration': {'id': '2308027', 'body_type...",477000.0,286200,True,4,2006,True,"{'id': '2308027', 'body_type': 'ALLROAD_5_DOOR...","{'engine-proof': True, 'alloy-wheel-disks': Tr...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'OUTLANDER', 'name': 'Outlander', 'ru...",LEFT,"{'id': '2308031', 'name': '', 'nameplate': '',...","{'id': '2308026', 'name': 'I', 'ru_name': '1',...",ALLROAD_5_DOORS,5,None,None,None,None,2378,GASOLINE,ALL_WHEEL_DRIVE,AUTOMATIC,160,118,None,None,None,MITSUBISHI,OUTLANDER,JAPANESE,"{'tax_by_year': 6400, 'year': 2021, 'rid': 106...","[{'insurance_company': 'TINKOFF', 'price': 5047}]"
28966,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",295800.0,301600,True,4,2006,True,"{'id': '7772063', 'body_type': 'SEDAN', 'doors...",{},"{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '20395133', 'name': '', 'nameplate': ''...","{'id': '2334567', 'name': 'IX', 'ru_name': '9'...",SEDAN,4,None,None,None,None,2378,GASOLINE,FORWARD_CONTROL,AUTOMATIC,162,119,None,None,None,MITSUBISHI,LANCER,JAPANESE,"{'tax_by_year': 980, 'year': 2021, 'rid': 1, '...","[{'insurance_company': 'TINKOFF', 'price': 3687}]"
28967,0000CC,"{'transport_tax': {'tax_by_year': 2725, 'year'...",used,"{'configuration': {'id': '2307988', 'body_type...",596370.0,224540,True,2,2011,True,"{'id': '2307988', 'body_type': 'SEDAN', 'doors...","{'electro-window-back': True, 'condition': Tru...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '7846999', 'name': '', 'nameplate': '',...","{'id': '2307987', 'name': 'X Рестайлинг', 'ru_...",SEDAN,4,None,None,None,None,1590,GASOLINE,FORWARD_CONTROL,AUTOMATIC,117,86,None,None,None,MITSUBISHI,LANCER,JAPANESE,"{'tax_by_year': 2725, 'year': 2021, 'rid': 213...","[{'insurance_company': 'TINKOFF', 'price': 4022}]"
28968,0000CC,"{'transport_tax': {'tax_by_year': 3502, 'year'...",used,"{'configuration': {'id': '4760286', 'body_type...",234000.0,526500,True,4,2002,True,"{'id': '4760286', 'body_type': 'SEDAN', 'doors...",{},"{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'CARISMA', 'name': 'Carisma', 'ru_nam...",LEFT,"{'id': '21213204', 'name': '', 'nameplate': ''...","{'id': '4760285', 'name': 'I Рестайлинг', 'ru_...",SEDAN,4,None,None,None,None,1834,GASOLINE,FORWARD_CONTROL,MECHANICAL,122,90,None,None,None,MITSUBISHI,CARISMA,JAPANESE,"{'tax_by_year': 3502, 'year': 2021, 'rid': 1, ...","[{'insurance_company': 'TINKOFF', 'price': 4022}]"
28969,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",313501.5,288771,True,4,2007,True,"{'id': '7772063', 'body_type': 'SEDAN', 'doors...","{'engine-proof': True, 'tinted-glass': True, '...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '21304044', 'name': '', 'nameplate': ''...","{'id': '2334567', 'name': 'IX', 'ru_name': '9'...",SEDAN,4,None,None,None,None,1299,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,MITSUBISHI,LANCER,JAPANESE,"{'tax_by_year': 980, 'year': 2021, 'rid': 1069...","[{'insurance_company': 'TINKOFF', 'price': 1952}]"

In [31]:
df['transport_tax']=df['transport_tax'].apply(lambda x: {'tax_by_year': np.nan,
  'year': np.nan,
  'rid': np.nan,
  'rate': np.nan} if pd.isnull(x) else x)

In [32]:
df['osago_insurance']=df['osago_insurance'].apply(lambda x: [{'insurance_company': np.nan, 'price': np.nan}] if pd.isnull(x) else x)

In [33]:
df_dict_expand(df,'transport_tax',['tax_by_year'])

In [34]:
df['osago_price'] = df['osago_insurance'].apply(lambda x: x[0].get('price'))

In [35]:
df

,color_hex,owner_expenses,section,vehicle_info,price,mileage,state_not_beaten,owners_number,year,custom_cleared,configuration,equipment,mark_info,model_info,steering_wheel,tech_param,super_gen,body_type,doors_count,auto_class,trunk_volume_min,trunk_volume_max,body_type_group,displacement,engine_type,gear_type,transmission,power,power_kvt,acceleration,clearance_min,fuel_rate,code,model,vendor,transport_tax,osago_insurance,tax_by_year,osago_price
0,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '9338209', 'body_type...",1276000.0,174000,True,1,2016,True,"{'id': '9338209', 'body_type': 'LIFTBACK', 'do...","{'cruise-control': True, 'esp': True, 'adaptiv...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '10373605', 'name': '', 'nameplate': ''...","{'id': '9338208', 'name': 'III (A7)', 'ru_name...",LIFTBACK,5,None,None,None,None,1197,GASOLINE,FORWARD_CONTROL,ROBOT,105,77,None,None,None,SKODA,OCTAVIA,EUROPEAN,"{'tax_by_year': 5250, 'year': 2021, 'rid': 213...","[{'insurance_company': 'TINKOFF', 'price': 5521}]",5250.0,5521.0
1,EE1D19,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '2309187', 'body_type...",502280.0,290000,True,3,2009,True,"{'id': '2309187', 'body_type': 'LIFTBACK', 'do...",{},"{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '2309188', 'name': '', 'nameplate': '',...","{'id': '2309186', 'name': 'I (A4) Рестайлинг',...",LIFTBACK,5,None,None,None,None,1390,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,SKODA,OCTAVIA,EUROPEAN,"{'tax_by_year': 5250, 'year': 2021, 'rid': 213...","[{'insurance_company': 'TINKOFF', 'price': 5521}]",5250.0,5521.0
2,FAFBFB,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",1933800.0,75500,True,2,2018,True,"{'id': '20839055', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'engine-proof': True,...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'KODIAQ', 'name': 'Kodiaq', 'ru_name'...",LEFT,"{'id': '21550029', 'name': '', 'nameplate': ''...","{'id': '20839003', 'name': 'I', 'ru_name': '1'...",ALLROAD_5_DOORS,5,None,None,None,None,1498,GASOLINE,FORWARD_CONTROL,MECHANICAL,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,"{'tax_by_year': 5250, 'year': 2021, 'rid': 213...","[{'insurance_company': nan, 'price': nan}]",5250.0,NaN
3,FAFBFB,"{'transport_tax': {'tax_by_year': 9000, 'year'...",used,"{'configuration': {'id': '20898233', 'body_typ...",1496930.0,107983,True,2,2017,True,"{'id': '20898233', 'body_type': 'LIFTBACK', 'd...","{'asr': True, 'airbag-driver': True, 'usb': Tr...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'OCTAVIA', 'name': 'Octavia', 'ru_nam...",LEFT,"{'id': '20913311', 'name': '', 'nameplate': ''...","{'id': '20898195', 'name': 'III (A7) Рестайлин...",LIFTBACK,5,None,None,None,None,1598,GASOLINE,FORWARD_CONTROL,MECHANICAL,110,81,None,None,None,SKODA,OCTAVIA,EUROPEAN,"{'tax_by_year': 9000, 'year': 2021, 'rid': 213...","[{'insurance_company': nan, 'price': nan}]",9000.0,NaN
4,007F00,"{'transport_tax': {'tax_by_year': 5250, 'year'...",used,"{'configuration': {'id': '20839055', 'body_typ...",2100000.0,52387,True,1,2019,True,"{'id': '20839055', 'body_type': 'ALLROAD_5_DOO...","{'cruise-control': True, 'airbag-driver': True...","{'code': 'SKODA', 'name': 'Skoda', 'ru_name': ...","{'code': 'KODIAQ', 'name': 'Kodiaq', 'ru_name'...",LEFT,"{'id': '20839231', 'name': '', 'nameplate': ''...","{'id': '20839003', 'name': 'I', 'ru_name': '1'...",ALLROAD_5_DOORS,5,None,None,None,None,1395,GASOLINE,ALL_WHEEL_DRIVE,ROBOT,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,"{'tax_by_year': 5250, 'year': 2021, 'rid': 213...","[{'insurance_company': 'TINKOFF', 'price': 5521}]",5250.0,5521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28965,040001,"{'transport_tax': {'tax_by_year': 6400, 'year'...",used,"{'configuration': {'id': '2308027', 'body_type...",477000.0,286200,True,4,2006,True,"{'id': '2308027', 'body_type': 'ALLROAD_5_DOOR...","{'engine-proof': True, 'alloy-wheel-disks': Tr...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'OUTLANDER', 'name': 'Outlander', 'ru...",LEFT,"{'id': '2308031', 'name': '', 'nameplate': '',...","{'id': '2308026', 'name': 'I', 'ru_name': '1',...",ALLROAD_5_DOORS,5,None,None,None,None,2378,GASOLINE,ALL_WHEEL_DRIVE,AUTOMATIC,160,118,None,None,None,MITSUBISHI,OUTLANDER,JAPANESE,"{'tax_by_year': 6400, 'year': 2021, 'rid': 106...","[{'insurance_company': 'TINKOFF', 'price': 5047}]",6400.0,5047.0
28966,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",295800.0,301600,True,4,2006,True,"{'id': '7772063', 'body_type': 'SEDAN', 'doors...",{},"{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '20395133', 'name': '', 'nameplate': ''...","{'id': '2334567', 'name': 'IX', 'ru_name': '9'...",SEDAN,4,None,None,None,None,2378,GASOLINE,FORWARD_CONTROL,AUTOMATIC,162,119,None,None,None,MITSUBISHI,LANCER,JAPANESE,"{'tax_by_year': 980, 'year': 2021, 'rid': 1, '...","[{'insurance_company': 'TINKOFF', 'price': 3687}]",980.0,3687.0
28967,0000CC,"{'transport_tax': {'tax_by_year': 2725, 'year'...",used,"{'configuration': {'id': '2307988', 'body_type...",596370.0,224540,True,2,2011,True,"{'id': '2307988', 'body_type': 'SEDAN', 'doors...","{'electro-window-back': True, 'condition': Tru...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '7846999', 'name': '', 'nameplate': '',...","{'id': '2307987', 'name': 'X Рестайлинг', 'ru_...",SEDAN,4,None,None,None,None,1590,GASOLINE,FORWARD_CONTROL,AUTOMATIC,117,86,None,None,None,MITSUBISHI,LANCER,JAPANESE,"{'tax_by_year': 2725, 'year': 2021, 'rid': 213...","[{'insurance_company': 'TINKOFF', 'price': 4022}]",2725.0,4022.0
28968,0000CC,"{'transport_tax': {'tax_by_year': 3502, 'year'...",used,"{'configuration': {'id': '4760286', 'body_type...",234000.0,526500,True,4,2002,True,"{'id': '4760286', 'body_type': 'SEDAN', 'doors...",{},"{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'CARISMA', 'name': 'Carisma', 'ru_nam...",LEFT,"{'id': '21213204', 'name': '', 'nameplate': ''...","{'id': '4760285', 'name': 'I Рестайлинг', 'ru_...",SEDAN,4,None,None,None,None,1834,GASOLINE,FORWARD_CONTROL,MECHANICAL,122,90,None,None,None,MITSUBISHI,CARISMA,JAPANESE,"{'tax_by_year': 3502, 'year': 2021, 'rid': 1, ...","[{'insurance_company': 'TINKOFF', 'price': 4022}]",3502.0,4022.0
28969,CACECB,"{'transport_tax': {'tax_by_year': 980, 'year':...",used,"{'configuration': {'id': '7772063', 'body_type...",313501.5,288771,True,4,2007,True,"{'id': '7772063', 'body_type': 'SEDAN', 'doors...","{'engine-proof': True, 'tinted-glass': True, '...","{'code': 'MITSUBISHI', 'name': 'Mitsubishi', '...","{'code': 'LANCER', 'name': 'Lancer', 'ru_name'...",LEFT,"{'id': '21304044', 'name': '', 'nameplate': ''...","{'id': '2334567', 'name': 'IX', 'ru_name': '9'...",SEDAN,4,None,None,None,None,1299,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,MITSUBISHI,LANCER,JAPANESE,"{'tax_by_year': 980, 'year': 2021, 'rid': 1069...","[{'insurance_company': 'TINKOFF', 'price': 1952}]",980.0,1952.0

In [36]:
df.drop(['vehicle_info','configuration','mark_info','model_info','transport_tax','osago_insurance'],axis = 1,inplace=True)

In [37]:
df.drop(['owner_expenses'],axis=1,inplace=True)

In [38]:
df.drop(['tech_param','super_gen'],axis=1,inplace=True)

In [39]:
df

,color_hex,section,price,mileage,state_not_beaten,owners_number,year,custom_cleared,equipment,steering_wheel,body_type,doors_count,auto_class,trunk_volume_min,trunk_volume_max,body_type_group,displacement,engine_type,gear_type,transmission,power,power_kvt,acceleration,clearance_min,fuel_rate,code,model,vendor,tax_by_year,osago_price
0,FAFBFB,used,1276000.0,174000,True,1,2016,True,"{'cruise-control': True, 'esp': True, 'adaptiv...",LEFT,LIFTBACK,5,None,None,None,None,1197,GASOLINE,FORWARD_CONTROL,ROBOT,105,77,None,None,None,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
1,EE1D19,used,502280.0,290000,True,3,2009,True,{},LEFT,LIFTBACK,5,None,None,None,None,1390,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
2,FAFBFB,used,1933800.0,75500,True,2,2018,True,"{'cruise-control': True, 'engine-proof': True,...",LEFT,ALLROAD_5_DOORS,5,None,None,None,None,1498,GASOLINE,FORWARD_CONTROL,MECHANICAL,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,5250.0,NaN
3,FAFBFB,used,1496930.0,107983,True,2,2017,True,"{'asr': True, 'airbag-driver': True, 'usb': Tr...",LEFT,LIFTBACK,5,None,None,None,None,1598,GASOLINE,FORWARD_CONTROL,MECHANICAL,110,81,None,None,None,SKODA,OCTAVIA,EUROPEAN,9000.0,NaN
4,007F00,used,2100000.0,52387,True,1,2019,True,"{'cruise-control': True, 'airbag-driver': True...",LEFT,ALLROAD_5_DOORS,5,None,None,None,None,1395,GASOLINE,ALL_WHEEL_DRIVE,ROBOT,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,5250.0,5521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28965,040001,used,477000.0,286200,True,4,2006,True,"{'engine-proof': True, 'alloy-wheel-disks': Tr...",LEFT,ALLROAD_5_DOORS,5,None,None,None,None,2378,GASOLINE,ALL_WHEEL_DRIVE,AUTOMATIC,160,118,None,None,None,MITSUBISHI,OUTLANDER,JAPANESE,6400.0,5047.0
28966,CACECB,used,295800.0,301600,True,4,2006,True,{},LEFT,SEDAN,4,None,None,None,None,2378,GASOLINE,FORWARD_CONTROL,AUTOMATIC,162,119,None,None,None,MITSUBISHI,LANCER,JAPANESE,980.0,3687.0
28967,0000CC,used,596370.0,224540,True,2,2011,True,"{'electro-window-back': True, 'condition': Tru...",LEFT,SEDAN,4,None,None,None,None,1590,GASOLINE,FORWARD_CONTROL,AUTOMATIC,117,86,None,None,None,MITSUBISHI,LANCER,JAPANESE,2725.0,4022.0
28968,0000CC,used,234000.0,526500,True,4,2002,True,{},LEFT,SEDAN,4,None,None,None,None,1834,GASOLINE,FORWARD_CONTROL,MECHANICAL,122,90,None,None,None,MITSUBISHI,CARISMA,JAPANESE,3502.0,4022.0
28969,CACECB,used,313501.5,288771,True,4,2007,True,"{'engine-proof': True, 'tinted-glass': True, '...",LEFT,SEDAN,4,None,None,None,None,1299,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,MITSUBISHI,LANCER,JAPANESE,980.0,1952.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28970 entries, 0 to 28969
Data columns (total 30 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   color_hex         28970 non-null  object
 1   section           28970 non-null  object
 2   price             28970 non-null  float64
 3   mileage           28970 non-null  int64
 4   state_not_beaten  28970 non-null  bool
 5   owners_number     28970 non-null  int64
 6   year              28970 non-null  int64
 7   custom_cleared    28970 non-null  bool
 8   equipment         28970 non-null  object
 9   steering_wheel    28970 non-null  object
 10  body_type         28970 non-null  object
 11  doors_count       28970 non-null  int64
 12  auto_class        0 non-null      object
 13  trunk_volume_min  0 non-null      object
 14  trunk_volume_max  0 non-null      object
 15  body_type_group   0 non-null      object
 16  displacement      28970 non-null  int64
 17  engine_type       28970 non-null  object
 18  gear_type         28970 non-null  object
 19  transmission      28970 non-null  object
 20  power             28970 non-null  int64
 21  power_kvt         28970 non-null  int64
 22  acceleration      0 non-null      object
 23  clearance_min     0 non-null      object
 24  fuel_rate         0 non-null      object
 25  code              28970 non-null  object
 26  model             28970 non-null  object
 27  vendor            28970 non-null  object
 28  tax_by_year       28836 non-null  float64
 29  osago_price       16711 non-null  float64
dtypes: bool(2), float64(3), int64(7), object(18)
memory usage: 6.2+ MB

In [41]:
df.describe()

,price,mileage,owners_number,year,doors_count,displacement,power,power_kvt,tax_by_year,osago_price
count,2.897000e+04,2.897000e+04,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28970.000000,28836.000000,16711.000000
mean,1.965017e+06,1.542667e+05,2.117950,2012.748222,4.583431,2425.137142,198.651916,146.125992,15392.558919,5386.805158
std,1.846465e+06,1.014475e+05,1.118724,5.827628,0.612188,958.456857,88.056549,64.821638,19594.489749,1004.494004
min,0.000000e+00,1.000000e+00,0.000000,1938.000000,2.000000,0.000000,19.000000,14.000000,0.000000,1522.000000
25%,8.377700e+05,8.060450e+04,1.000000,2010.000000,4.000000,1900.250000,140.000000,103.000000,4900.000000,4692.000000
50%,1.493125e+06,1.411200e+05,2.000000,2014.000000,5.000000,1997.000000,178.000000,131.000000,8820.000000,5521.000000
75%,2.508000e+06,2.083320e+05,3.000000,2017.000000,5.000000,2979.000000,245.000000,180.000000,17850.000000,6309.000000
max,3.455200e+07,1.189998e+06,4.000000,2021.000000,5.000000,6299.000000,700.000000,515.000000,275400.000000,6309.000000

In [42]:
df

,color_hex,section,price,mileage,state_not_beaten,owners_number,year,custom_cleared,equipment,steering_wheel,body_type,doors_count,auto_class,trunk_volume_min,trunk_volume_max,body_type_group,displacement,engine_type,gear_type,transmission,power,power_kvt,acceleration,clearance_min,fuel_rate,code,model,vendor,tax_by_year,osago_price
0,FAFBFB,used,1276000.0,174000,True,1,2016,True,"{'cruise-control': True, 'esp': True, 'adaptiv...",LEFT,LIFTBACK,5,None,None,None,None,1197,GASOLINE,FORWARD_CONTROL,ROBOT,105,77,None,None,None,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
1,EE1D19,used,502280.0,290000,True,3,2009,True,{},LEFT,LIFTBACK,5,None,None,None,None,1390,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
2,FAFBFB,used,1933800.0,75500,True,2,2018,True,"{'cruise-control': True, 'engine-proof': True,...",LEFT,ALLROAD_5_DOORS,5,None,None,None,None,1498,GASOLINE,FORWARD_CONTROL,MECHANICAL,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,5250.0,NaN
3,FAFBFB,used,1496930.0,107983,True,2,2017,True,"{'asr': True, 'airbag-driver': True, 'usb': Tr...",LEFT,LIFTBACK,5,None,None,None,None,1598,GASOLINE,FORWARD_CONTROL,MECHANICAL,110,81,None,None,None,SKODA,OCTAVIA,EUROPEAN,9000.0,NaN
4,007F00,used,2100000.0,52387,True,1,2019,True,"{'cruise-control': True, 'airbag-driver': True...",LEFT,ALLROAD_5_DOORS,5,None,None,None,None,1395,GASOLINE,ALL_WHEEL_DRIVE,ROBOT,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,5250.0,5521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28965,040001,used,477000.0,286200,True,4,2006,True,"{'engine-proof': True, 'alloy-wheel-disks': Tr...",LEFT,ALLROAD_5_DOORS,5,None,None,None,None,2378,GASOLINE,ALL_WHEEL_DRIVE,AUTOMATIC,160,118,None,None,None,MITSUBISHI,OUTLANDER,JAPANESE,6400.0,5047.0
28966,CACECB,used,295800.0,301600,True,4,2006,True,{},LEFT,SEDAN,4,None,None,None,None,2378,GASOLINE,FORWARD_CONTROL,AUTOMATIC,162,119,None,None,None,MITSUBISHI,LANCER,JAPANESE,980.0,3687.0
28967,0000CC,used,596370.0,224540,True,2,2011,True,"{'electro-window-back': True, 'condition': Tru...",LEFT,SEDAN,4,None,None,None,None,1590,GASOLINE,FORWARD_CONTROL,AUTOMATIC,117,86,None,None,None,MITSUBISHI,LANCER,JAPANESE,2725.0,4022.0
28968,0000CC,used,234000.0,526500,True,4,2002,True,{},LEFT,SEDAN,4,None,None,None,None,1834,GASOLINE,FORWARD_CONTROL,MECHANICAL,122,90,None,None,None,MITSUBISHI,CARISMA,JAPANESE,3502.0,4022.0
28969,CACECB,used,313501.5,288771,True,4,2007,True,"{'engine-proof': True, 'tinted-glass': True, '...",LEFT,SEDAN,4,None,None,None,None,1299,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,MITSUBISHI,LANCER,JAPANESE,980.0,1952.0

In [43]:
df.code.value_counts()

BMW           3713
MERCEDES      3709
VOLKSWAGEN    3595
TOYOTA        3438
NISSAN        3275
AUDI          2728
SKODA         2310
MITSUBISHI    2259
VOLVO         1240
LEXUS         1075
HONDA          994
INFINITI       634
Name: code, dtype: int64

df.to_csv('autoru_parse_cleared_out2.csv', sep='\t', encoding='utf-8')

In [44]:
df_2=df.drop('equipment',axis=1)

In [45]:
df_2.drop_duplicates(inplace=True)

In [46]:
df_2.code.value_counts()

VOLKSWAGEN    1602
TOYOTA        1543
AUDI          1492
BMW           1397
NISSAN        1372
SKODA         1303
MITSUBISHI    1243
MERCEDES      1019
VOLVO          810
HONDA          707
LEXUS          662
INFINITI       531
Name: code, dtype: int64

In [47]:
df_2

,color_hex,section,price,mileage,state_not_beaten,owners_number,year,custom_cleared,steering_wheel,body_type,doors_count,auto_class,trunk_volume_min,trunk_volume_max,body_type_group,displacement,engine_type,gear_type,transmission,power,power_kvt,acceleration,clearance_min,fuel_rate,code,model,vendor,tax_by_year,osago_price
0,FAFBFB,used,1276000.0,174000,True,1,2016,True,LEFT,LIFTBACK,5,None,None,None,None,1197,GASOLINE,FORWARD_CONTROL,ROBOT,105,77,None,None,None,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
1,EE1D19,used,502280.0,290000,True,3,2009,True,LEFT,LIFTBACK,5,None,None,None,None,1390,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,SKODA,OCTAVIA,EUROPEAN,5250.0,5521.0
2,FAFBFB,used,1933800.0,75500,True,2,2018,True,LEFT,ALLROAD_5_DOORS,5,None,None,None,None,1498,GASOLINE,FORWARD_CONTROL,MECHANICAL,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,5250.0,NaN
3,FAFBFB,used,1496930.0,107983,True,2,2017,True,LEFT,LIFTBACK,5,None,None,None,None,1598,GASOLINE,FORWARD_CONTROL,MECHANICAL,110,81,None,None,None,SKODA,OCTAVIA,EUROPEAN,9000.0,NaN
4,007F00,used,2100000.0,52387,True,1,2019,True,LEFT,ALLROAD_5_DOORS,5,None,None,None,None,1395,GASOLINE,ALL_WHEEL_DRIVE,ROBOT,150,110,None,None,None,SKODA,KODIAQ,EUROPEAN,5250.0,5521.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28964,CACECB,used,351000.0,351000,True,2,2007,True,LEFT,SEDAN,4,None,None,None,None,1299,GASOLINE,FORWARD_CONTROL,MECHANICAL,82,60,None,None,None,MITSUBISHI,LANCER,JAPANESE,1127.0,1952.0
28965,040001,used,477000.0,286200,True,4,2006,True,LEFT,ALLROAD_5_DOORS,5,None,None,None,None,2378,GASOLINE,ALL_WHEEL_DRIVE,AUTOMATIC,160,118,None,None,None,MITSUBISHI,OUTLANDER,JAPANESE,6400.0,5047.0
28966,CACECB,used,295800.0,301600,True,4,2006,True,LEFT,SEDAN,4,None,None,None,None,2378,GASOLINE,FORWARD_CONTROL,AUTOMATIC,162,119,None,None,None,MITSUBISHI,LANCER,JAPANESE,980.0,3687.0
28968,0000CC,used,234000.0,526500,True,4,2002,True,LEFT,SEDAN,4,None,None,None,None,1834,GASOLINE,FORWARD_CONTROL,MECHANICAL,122,90,None,None,None,MITSUBISHI,CARISMA,JAPANESE,3502.0,4022.0
28969,CACECB,used,313501.5,288771,True,4,2007,True,LEFT,SEDAN,4,None,None,None,None,1299,GASOLINE,FORWARD_CONTROL,MECHANICAL,75,55,None,None,None,MITSUBISHI,LANCER,JAPANESE,980.0,1952.0

In [48]:
df_2.to_csv('autoru_parse_Moscow2.csv', sep='\t', encoding='utf-8')